[2019-07-29 15:08] noroute opened #1 "Instantiation of opennebula_virtual_machine with just template_id does not pass template attributes"
Template settings (e.g. MEMORY) do not seem to be passed on to the OpenNebula API when instantiating a template. Instantiation uses the right `template_id`, the template is also correct (calling `onetemplate instantiate` via CLI works).

When I add `memory` as attribute for the `opennebula_virtual_machine` directly, it is passed on correctly (but then complains about the next missing attribute).

[2019-07-29 15:30] jaypif commented on #1
Hi @noroute ,

Actually what you are doing is logical but for the moment you must add `memory = 2048`parameter in addition to the `template_id`.
The issue is not on the Terraform part it is directly on OpenNebula API.
`one.template.instantiate` returns the error you faced if the memory is not set whereas it is already the case in your template.
I faced the same issue like you during my test.

It i

[2019-07-29 15:55] noroute commented on #1
Hi @jaypif,

thanks for the quick answer. This workaround sounds a little clumsy as it will force me to set all the attributes (cpu, disk, etc.) on every virtual machine, doesn't it?

How does the `onetemplate instantiate` CLI do it? Doesn't it use the same API? Or is it a `goca` issue?

[2019-07-29 16:24] christian7007 commented on #1
I think the problem is that [here](https://github.com/OpenNebula/addon-terraform/blob/62f6448633e638f0877a004f58795cdc7664f06d/opennebula/resource_opennebula_virtual_machine.go#L814) the memory value is set to 0 if you don't provide a value. So when you instantiate the template the oned receive an extra template with a memory value set to 0 which overrides the current memory value and makes the in

[2019-07-30 07:27] noroute commented on #1
@christian7007 Without having written tests for that this seems plausible. When creating a new VM, the whole _schema_ contents of `ResourceData` is always included as extra XML, overwriting the data from the template.

Apparently, the extra XML must only include *non-default values* to allow selective overwriting of template values. `[d.Get` always returns _non-nil default values_ for keys that ar

[2019-07-30 07:49] jaypif commented on #1
Hi @christian7007 and @noroute ,

You are right, the XML generation override XML from file. In this case it sets the memory to 0 while it is already present in you XML.
However, as it is possible to override some parameters while there are in the template it is not really simple to satisfy all the possible cases. Actually, the XML structure of the template is that every parameters (mandatory of no

[2019-07-30 07:58] noroute commented on #1
@christian7007 This would be one simple way to do it. Note that this prevents users from creating VMs from templates with customizations, which is a limitation.

What (besides needing good test coverage) prevents you from only adding attributes the extra XML that are actually present (the Terraform schema helper has `d.GetOk` to detect cases of missing configuration)?

[2019-07-30 08:56] jaypif commented on #1
@noroute

The case 1 I suggest will load what is srt as `template` as extra template during instantiation. So if in the template file there are some values for `MEMORY` or any other resources, it will override what is already exists in the template.
In that case, if there is an error, it will be in the file directly.

About the default value issue, you are right using `d.GetOk` is better. Neverthe

[2019-07-30 09:04] christian7007 commented on #1
Hello @noroute and @jaypif,

I don't know much about Terraform but if the solution provided by @jaypif allow to instantiate VMs from a template either overriding some attributes or not (as he said in hist last comment) I think is ok.

[2019-07-30 09:38] jaypif commented on #1
Actually I am not really satisfied with what I suggest.
I would like to be able to instantiate a template and attach NICs or Disk I just create in Terraform in the same time.
With What I suggest it is not possible to override disk or nic, the template mst already have them while in my usage it is not the case.

Example: I have Templates with only CPU , VCPU and RAM fixed (not possible to change th

[2019-07-30 09:42] noroute commented on #1
Retaining the possibility for customizations sounds very good.

But what's the problem with `cpu` and `memory`? Using `d.GetOk` to determine if there actually _is_ and override for these in the Terraform resource definition and _only then_ rendering them into the extra XML sounds sensible, doesn't it? This way, the value from the template would be used _unless_ it is also defined in Terraform.

[2019-07-30 09:46] jaypif commented on #1
You are right.

I use `d.GetOk` only if the template_id is not used but not in the XML creation. That was my mistake.
So I will remove the `extra_template` because I think it is better to keep them in the template resource.
So in this case I will just fix the cpu and memory with GetOk in the XML generation.

[2019-07-30 11:07] jaypif commented on #1
I just did a PR #2 to fix the wrong behavior.

If it is Ok for you it can be merged

[2019-07-30 13:13] noroute commented on #1
So in your solution, `cpu` and `memory` cannot be overridden. I understood your comment in https://github.com/OpenNebula/addon-terraform/issues/1#issuecomment-516348354 as to make overriding possible without breaking the non-override case.

Also, does the project have unit test infrastructure in place to cover the changes you're about to make?

[2019-07-30 13:17] jaypif commented on #1
You are right, overriding memory or cpu should be possible. So my PR is not correct, I will change it.
I will remove the constraint and let the different tests with `d.getOk`

[2019-07-30 16:07] jaypif commented on #1
The PR has been updated

[2019-08-16 13:52] jaypif commented on #1
Hi @noroute

Is my last version OK for you ? If yes, I will merge it.

About test infrastructure, OpenNebula deployed an infra for that. I added some test already in master (and I have other ones for missing resources available).
You can ask @christian7007 for credentials if you want to use it for your tests.

Regards

[2019-08-30 13:10] noroute commented on #1
@jaypif The code looks like it could work. I still don't see any unit-level tests. Were you planning to add those? Is there an overall strategy for testing `addon-terraform`? I guess adoption and collaboration could benefit from easily accessible (unit-level) tests.

[2019-08-30 14:15] jaypif commented on #1
Hi @noroute

Good!
About test I added them in master (for starting) and I have more availble not pushed yet.
@christian7007 provided an environment available for testing.
A CI can be added too with a docker where opennebula can be setup quickly (thanks to minione), this part is not available yet.

OK So I propose to merge the fix about this bug and we can deal testing discussions on another issue

[2019-09-03 12:40] jaypif commented on #1
Hi @noroute

@christian7007 connected this repo to Travis CI. So now we have CI on all tests and test coverage too thanks to cedecov.io.

The CI is already available, the codecov is under PR: #6

This issue has been fixed by #2

[2019-09-03 12:40] #1 closed

[2019-10-10 09:24] maartendq opened #8 "Build errors"
Hi,

When trying to build/install the addon, I get the following errors:

*src/github.com/OpenNebula/addon-terraform/opennebula/resource_opennebula_security_group.go:336:32: not enough arguments in call to sgc.Info
	have ()
	want (bool)
src/github.com/OpenNebula/addon-terraform/opennebula/resource_opennebula_template.go:198:26: not enough arguments in call to tc.Info
	have (bool)
	want (bool, bool

[2019-10-10 11:50] maartendq opened #9 "Terraform Error: rpc error: code = Unavailable desc = transport is closing"
Hi,

When trying to apply a plan (simple group creation), I get the following error:

*opennebula_group.group_up: Creating...
Error: rpc error: code = Unavailable desc = transport is closing
panic: runtime error: index out of range*

Error appears to be in this part:
*2019/10/10 13:34:10 [TRACE] EvalWriteState: removing state object for opennebula_group.group_up
2019/10/10 13:34:10 [TRACE] <root>:

[2019-10-10 12:28] jaypif commented on #9
Hi @maartendq

Can you provide the terraform file or at least the full structure of `resource_opennebula_group` ?

Because I don't reproduce your behavior on the last version of the provider.

regards

[2019-10-10 12:30] jaypif commented on #8
The PR: https://github.com/OpenNebula/addon-terraform/pull/10 has been merged and fix this issue.

[2019-10-10 12:30] #8 closed

[2019-10-10 12:42] jaypif commented on #9
OK I found the issue
This is because quotas are not set.

the fix is here: https://github.com/OpenNebula/addon-terraform/pull/11

[2019-10-10 13:15] maartendq commented on #9
Great, I didn't have quota's indeed. Thanks!

[2019-10-10 13:44] jaypif commented on #9
The PR Has been merged

[2019-10-10 13:44] #9 closed

[2019-10-14 17:23] cgriggs01 opened #12 "Terraform Provider Development Program - Review"
I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. The review was done on the develop branch at git commit `2928c36`

- [ ] The name of this repository should be `terraform-provider-openn

[2019-10-15 07:54] tinova commented on #12
Repo name changed to **terraform-provider-opennebula**

[2019-10-28 08:32] jaypif commented on #15
Hi,

This is clearly a bug. In the provider, for the moment, if the graphics is not filled in the resource declaration, it is force to an empty struct even if the Graphics is set in the template.

I will try to provide a fix soon.

[2019-10-28 10:30] maartendq commented on #15
Hi @jaypif ,

Thanks! Same goes for the context part and maybe others too.

[2019-10-28 14:01] jaypif commented on #15
PR #17 to fix this issue

[2019-10-28 15:37] jaypif commented on #15
PR #17 merged.

Your issue is fixed now :)

[2019-10-31 09:58] puppetmaster opened #19 "virtual_networks and "ar" parameter"
I'm trying to use this provider and I follow the documentation but something is wrong with virtual_networks and "ar" parameter, maybe I missed something.

This is my resource :

resource "opennebula_virtual_network" "devel" {
      name = "devel"
      permissions = "660"
      group = "users"
      bridge = "${var.one_vswitch}"
      vlan_id = "30"
      //physical_device = "eth0"
      type = "o

[2019-10-31 10:07] jaypif commented on #19
Hi @puppetmaster

Can you try to declare `ar` like this:

[code]

Remove `= [` and closing `]`. I am sorry the wiki is not reflecting Terraform 0.12. I will change this. in the documentation

Since Terraform 0.12, paremeter using `TypeSet` should not be declared like list.

Regards

[2019-11-07 07:48] jaypif commented on #12
Hi @cgriggs01 ,

In PR #18 we fixed all points you raised (1 commit per point). Can you take a look at this PR and let us know here ?
If you have any comments please write them in review mode (or in the PR directly).
I prefer merging in master the correct PR.

Thank you

[2019-11-08 07:57] jaypif commented on #22
Hi @maartendq

In the current provider, you are right this is not possible yet. However in the goca, there is the `vmgroup.go` (which implements XML-RPC calls related to VM Group management) and related schema files.
So technically this is possible to add them in a future version of the provider.

I am sorry for this limitation, for the moment, we are working with OpenNebula to provide an official

[2019-11-08 08:14] jaypif commented on #23
OK I able to reproduce your issue.

[2019-11-13 01:26] cgriggs01 commented on #12
Hey Team,

Changes are looking great! I was able to get the acceptance test running but am hitting a few failed tests, do you have any thoughts on why these tests are failing? --> [test.txt](https://github.com/OpenNebula/terraform-provider-opennebula/files/3838977/test.txt)

Thanks for your help!

[2019-11-13 08:53] jaypif commented on #12
Hi @cgriggs01

I don't know how you bot works but it seems that your failures are linked with HTTP request.
We added travis CI to run tests on this repo and it starts a docker to execute request on another instance.

I will try with the specific account on the external service dedicated to your tests.

[2019-11-13 11:05] jaypif commented on #12
Hi @cgriggs01

Can you retry with your bot. The issue you add was because the testing lab was not running. I tried on my side now and it seems OK.

[2019-11-14 19:22] cgriggs01 commented on #12
Hey @jaypif

I'm still getting the same output for the tests. I have pulled from "master" branch this time.

[2019-11-14 19:46] hbuttguavus opened #25 "Invalid address to set: []string{"nic", "0", "Network"}"
I seem to be getting an error when I try to bring up a new VM.

[code]

The template I am using:
[code]

When I do terraform apply it fails with an error but the VM is still created. The VM does not have the correct memory assigned to it but has the correct number of CPUs. It has a nic and IP assigned from the virtual network as well and is reachable. I am not sure why the apply is failing though.

[2019-11-15 07:13] puppetmaster commented on #19
Works great thank you

[2019-11-15 07:13] #19 closed

[2019-11-15 07:51] jaypif commented on #25
Hi @hbuttguavus

You are right, I faced the same issue on VM creation. I know the root cause, I don't understand why automation test didn't failed before the merge.

I am working on a solution.

Sorry for this issue

[2019-11-15 07:55] jaypif commented on #26
Thanks !

[2019-11-15 07:56] jaypif commented on #26
Reason for closure:  #27 merged

[2019-11-15 07:58] jaypif commented on #20
reason for closure: #21 merged

[2019-11-15 10:27] puppetmaster opened #28 "Image creation don't set DRIVER entry in template"
After image creation, the image template (viewed from OpenNebula) don't contain the DRIVER.
This entry is missing so the VM don't boot.

(By the way the xml generated by the provider contains a <DRIVER>qcow2</DRIVER>).

[2019-11-15 15:16] puppetmaster commented on #29
Ok my bad, I forgot about "depends_on = [  ]"

[2019-11-15 18:00] #28 closed

[2019-11-15 19:29] puppetmaster commented on #25
I'm stuck with the same issue, I tried to inspect the code but this time I don't get it.

[2019-11-18 10:43] jaypif commented on #25
Hi @hbuttguavus and @puppetmaster

It was in the Read function for VM, the mapping between parameters was not managed correctly. It was accepted at the beginning of Terraform 0.12 but since last version it is more strict.

The PR #33 fixes this issue. Sorry about that

[2019-11-18 12:13] jaypif commented on #25
I close this issue as : #33 fixes this wrong behavior

[2019-11-18 12:13] #25 closed

[2019-11-18 14:26] jaypif commented on #12
HI @cgriggs01

what is the value of the variable "endpoint" in the configuration of your bot ?
I think it is link to this issue: https://nanxiao.me/en/fix-unsupported-protocol-scheme-issue-in-golang/.

Can you configure the variable `endpoint` with `http://72.14.177.117:2633/RPC2` ?

Regards

[2019-11-18 19:37] cgriggs01 commented on #12
I was just using the `72.14.177.117` for the `endpoint` variable.

Retesting now.

[2019-11-18 19:47] cgriggs01 commented on #12
Everything checks out so far. Im going to do one final check and then we can begin the migration a release process. Are you ready for the provider to be released?

I'll be moving this code base over to the `github.com/terraform-providers/` organization. Whom from your team will need `write` access for the provider.

Once the provider has been moved over, we'll kick off the first release under vers

[2019-11-19 10:27] jaypif commented on #12
Hi @cgriggs01

Great news! Thank you for your time.

Here is the list of people who should be able to write on the repo:
@tinova @christian7007 @jaypif @treywelsh @hekmon @aloababa

Thanks

[2019-11-19 13:16] jaypif commented on #36
Hi @maartendq

Can you provide the output of terraform plan ?
Maybe it is because it "detects" changes between the remote group configuration (the one under opennebula) the tfstate file and the tf file.

Thanks

[2019-11-19 14:08] maartendq commented on #36
Hi @jaypif

Output of plan for group resource

 # opennebula_group.platform_env will be updated in-place
  ~ resource "opennebula_group" "platform_env" {
        admins                = []
        delete_on_destruction = true
        id                    = "124"
        name                  = "UP-UAT"
        template              = "SUNSTONE = [\n  DEFAULT_VIEW = \"cloud\",\n  GROUP_ADMIN_DEFAU

[2019-11-20 14:45] jaypif commented on #36
Hi @maartendq

The group on you opennebula instance has some quotas set (based on your output).
Since #18, now the Read get all information related to non scalar parameters. It means that I get the values for Quotas.
So when you perform a plan, it get the remote siutation and compare to your local tf file.
Because your local file does not have quota define it  says that your plan will set all quot

[2019-11-21 08:30] jaypif commented on #12
Hi @cgriggs01

Do you have any idea when you plan to move the code base to `terraform-providers`' github ?

It is just to prepare some blog posts and social networks posts :).

Thanks

[2019-11-21 11:12] jaypif commented on #23
I found the issue.
 #37 fixes it

[2019-11-21 22:01] cgriggs01 commented on #12
Hey @jaypif,

I hit a few issues on my side but am unblocked now. I just attempted the first binary release but unfortunately the provider did not build and compile for `386` architecture. You should have explicitly declared things as `uint64` , not just `uint` here --> [acl.go#L49-L68](https://github.com/OpenNebula/one/blob/38bb3947207f8ec082b480d8b1c889e153781559/src/oca/go/src/goca/schemas/acl/

[2019-11-22 02:30] nimbus-tech opened #39 "No versions of github.com/hashicorp/hcl met constraints"
Hi,

I am trying to run the dep init on the current code, but I am getting below error, previously I have ran dep init on the code, but  didnt get this issue before. Thanks in advance.

[code]

[2019-11-25 09:30] jaypif opened #40 "Upgrade to use goca target for 5.10"
To version the provider with OpenNebula 5.10.

It will be still compatble with OpenNebula 5.8

[2019-11-25 09:36] jaypif commented on #39
Hi @nimbus-tech

Since #18, go module is used to manage dependencies. So you do not need to use `dep` now.

Can you remove the `vendor` folder and try a `go mod vendor` and make ?

To build the binary as before you can still run `go build -o terraform-provider-opennebula`

Regards

[2019-11-25 09:55] #40 closed

[2019-11-25 09:57] jaypif commented on #12
Hi @cgriggs01 ,

The issue you faced when you tried to compile for `386` architecture was linked to an issue in a dependency.
We fixed it in the dependency and the provider code has also been updated to use last version of Goca.

Thanks to this we will be able to link the v0.1.0 of the provider to 5.10 version of OpenNebula. It will ease a lot the versioning of the provider.

Can you retry and let

[2019-11-25 10:21] nimbus-tech commented on #39
Thanks @jaypif , it worked.

[2019-11-25 10:21] #39 closed

[2019-11-26 00:31] cgriggs01 commented on #12
Hey @jaypif,

I was able to get the provider to build an release to [releases.hashicorp.com](https://releases.hashicorp.com/terraform-provider-opennebula/0.1.0/) and the documentation has been posted to [terraform.io](https://www.terraform.io/docs/providers/opennebula/index.html).  Thanks for your help and congratulations on completing the program.

I've sent our community guideline and etiquette

[2019-11-26 08:04] christian7007 commented on #12
Hello @cgriggs01 here you have my email: `cgonzalez@opennebula.systems`

[2019-11-26 09:11] jaypif commented on #12
Hi Chris,

Here are all the emails:

   - @christian7007 <https://github.com/christian7007>:
   cgonzalez@opennebula.systems
   - @treywelsh <https://github.com/treywelsh>: treywelsh2@gmail.com
   - @hekmon <https://github.com/hekmon>: edouardhur@gmail.com
   - @aloababa <https://github.com/aloababa>: gustin.ben@gmail.com

I already read some rules I will take a look to other ones and let you know

[2019-11-27 10:25] jaypif commented on #12
Hi @cgriggs01

I want to thank you for your help for getting this provider official.

We are very proud of this and very excited about this.

Thank you

PS: Can we close this is issue. I want to ask people to open issues and PR directly ion the official repo now ;).

[2019-11-27 15:04] jaypif commented on #42
Hi @hbuttguavus

I face the same behavior. The issue is not really in the provider it is more a "Terraform" behavior.

You are right Terraform detects "changes" but it is not.

It is because when we run plan, it gets an update from Open Nebula, it compares with the tfstate and the tf file. Because the remote state is far verbous than the local one it detects changes while it is not.
However some c

[2019-11-27 19:20] hbuttguavus commented on #42
I understand. Thanks!

[2019-11-28 12:20] histrio commented on #42
Hi @hbuttguavus @jaypif
Same here: terraform tries to modify my template each time while there is no changes.
[code]

[2019-11-28 14:20] jaypif commented on #43
Hi @hbuttguavus

I can think about adding this in Roadmap ;)

For your information, the provider is now official and the maintenance will continue directly into the official repo: https://github.com/terraform-providers/terraform-provider-opennebula

Would you mind opening this issue on the official repo ?

thank you

[2019-11-28 14:23] jaypif commented on #42
@histrio

Is it in the last release ? Because I agree I faced the same kind of behavior with XML weird parsing in a previous version.
Today it is not fixed as it is clear in this issue but the diff should not look like the one you posted.

I also want to add that now the provider is official and it is now maintained under terraform-providers repo: https://github.com/terraform-providers/terraform-p

[2019-11-28 14:31] hbuttguavus commented on #43
of course and thank you!

[2019-11-28 14:31] hbuttguavus commented on #43
Moving to the official repo

[2019-12-03 11:13] jaypif opened #2 "Terraform updating in place even when no changes introduced to resource"
Previously created here: https://github.com/OpenNebula/terraform-provider-opennebula/issues/42

___________________________________________

Whenever I run terraform plan/apply, terraform always wants to update the vm in place even though there have been no changes from me.

I removed the graphics section completey from my template or my resource but terraform still wants to change the vm in place

[2019-12-04 18:26] hbuttguavus opened #3 "Bootable disk issue when using multiple disks"
I have an issue where the disk I want to use for booting the vm is not being used. Instead it is the second disk I have added.

How do i force or ensure that opennebula uses a specific disk to boot from when using the provider?

[code]

Seems like the second disk is being assigned the ID 0 even though it is declared after the disk I want to use to boot.

[2019-12-05 02:41] benosman opened #4 "Timeline for Missing Resources"
Firstly, Congratulations on making this an official terraform provider! :+1:

I am going to be using this for my clusters and lab, and there are a few resources that I would like to see that are currently missing.

The most important ones to me are Hosts, Clusters & Datastores.

I wondered if these are planned for the near future, and if they are, what kind of timeline is anticipated?

[2019-12-05 08:15] jaypif commented on #4
Hi @benosman

Thank you :)

About the timeline I don't have it yet. The priority is t fix some issues we have in the current version.

Adding ressources is possible but as I am not an employee of OpenNebula and we are using it to deploy Virtual Infrastructure the first version is more about managing virtual infrastructure.
Some Virtual ressources are stil missing such as: Virtual Router and VM Gro

[2019-12-05 08:32] jaypif commented on #3
Hi @hbuttguavus

That's a very good question.
May I suppose all you other disk have a type different from "OS" ?

If it is the case, you can add the parameter `target` to your OS disk: `vda` (if you use virtio)

On our case, all VMs have at least:
- 1 OS disk with the OS image: `"target" = "vda"`
- 1 DATABLOCK disk of 1GB for the swap, `"target" = "vdb"`
And optionally, other datablock disks for o

[2019-12-05 18:21] hbuttguavus commented on #3
Hi @jaypif
I am now using boot="" and have added targets for my disks as well but still see the same issue.

The disk I want to boot from is of type OS and any extra disks I add are of type DATABLOCK.

I can see in the terraform plan for one of my vms for example the following:

[code]
The disk with target vda shows up at the bottom. It is the disk I want to use to boot from.

[2019-12-05 18:56] benosman commented on #4
Hi @jaypif

Thanks for the reply.

I see where you are coming from in terms of your priorities, such as the virtual resources.

Since I've got my hosts set up with open nebula using configuration management, it is the next step to configure the hosts inside open nebula too, especially as since the majority of them don't have a separate private network, I'm using 1 cluster per host to manage the ne

[2019-12-06 11:58] jaypif commented on #3
Hi,

I have maybe a clue. I use TypeSet for the list of disks (or nic) but I should use TypeList to force ordering.

In your case the OS disk is maybe not the disk with id 0 which can explain your issue.

I will push a fix to be sure the order is the one from the configuration. In you case you expect the disk with id 0 to be the first one.

[2019-12-06 14:02] jaypif opened #5 "Random order for disk and nic on Virtual Machine"
For a Virtual Machine resource, if several disk or Nic are attached, there are attached in a random order.

This is because the type of `disk` or `nic`  parameter is `TypeSet`. Because the order can be important, change the type of these parameters to `TypeList`

This issue might be related to #1

[2019-12-06 18:11] benosman opened #6 "Setting Cluster Ids on Virtual Networks not behaving correctly"
When setting one or more specific cluster ids without the default cluster in the list (typically 0), the default cluster gets implicitly added.

Given the example:

[code]

This will result in:

[code]
The sunstone frontend also shows that this default cluster was added implicitly

I believe this is caused by the upstream virtual network controller in the api adding the default cluster automatical

[2019-12-11 11:11] titansmc opened #10 "When setting up custom CONTEXT it wipes the default context inhereted from the template"
Hi,
when deploying VMs with the following snippet, the CONTEXT of the VM is gone and only what I have defined through the terraform is present, but the defaults from the "VM template" I am using are gone.
[code]

[2019-12-12 08:55] #6 closed, assigned to nobody

[2019-12-12 09:11] jaypif commented on #10
Hi @titansmc

Indeed. that's by design. It override the context part of a template.
I think you want to merge both.

There are some new helpers to manage easily structure into the goca since the last version. But there not used yet.
Until now it was not possible to marge CONTEXT easily so the idea was to override the CONTEXT if it is provided in the VM.

In your case, I invite you to put all varia

[2019-12-12 11:02] jaypif commented on #3
Hi @hbuttguavus

the PR #9 might unlock you for this.
I will add you as reviewer (if you think you can give an advice so as another people too don't worry).

regards

[2019-12-13 08:56] #5 closed, assigned to jaypif

[2019-12-19 13:54] histrio commented on #2
Hi,
The issue described here https://github.com/OpenNebula/terraform-provider-opennebula/issues/42#issuecomment-559473492 still happens. I've tried to install release (provider.opennebula: version = "~> 0.1") and build it from the master branch but no luck.

[2019-12-24 16:17] jaypif commented on #2
Hi @histrio

Can you retry with #11  ?
I found the fix for this annoying issue.

Regards

[2019-12-24 16:23] jaypif commented on #3
Hi @hbuttguavus the PR #9 has been merged.

to test if you still have the issue, are you able to get the code and compile the provider to test if this fix solves your issue ?

Thanks

[2019-12-26 09:22] #2 closed, assigned to jaypif

[2019-12-26 09:23] treywelsh commented on #2
Seems ok to me: when first call to `apply` is successful, the second call to `plan` or `apply` display:
```No changes. Infrastructure is up-to-date.```

[2019-12-27 11:11] treywelsh commented on #10
@titansmc if you want to give it a try I made some changes to enable this behavior:
- take the keys from the template context part
- override context keys with them from the VM

These changes are on top of some other changes we need to do to update the provider (See PR #13 it's under review).
It seems ok to me, but feel free to leave a comment :)

NOTE: It miss a test case to create a VM using a t

[2019-12-27 14:51] treywelsh opened #15 "enhance template schema"
For the template resource, the attribute `template` part is more than a `TypeString` (it can be considered as a string, but some limitations appears due to string formatting).

It can contains a collection of elements that follows one of these formats:
pairs: `key = value`
vector: `key = [ key1 = value1, key2 = value2 ]`

For reference, the OpenNebula lex file is [here](https://github.com/OpenNebu

[2019-12-30 15:38] jaypif opened #16 "Add VMGROUP when creating a virtual machine"
Issue originally opened by @maartendq here: https://github.com/OpenNebula/terraform-provider-opennebula/issues/22

I'm looking for a way to add a VM GROUP (name or id + role) when instantiating a virtual machine (in order to set anti-affinity). From what I can see in your code, it's currently not possible and by looking at one's goca code it looks like it's not implemented there yet either.
Any id

[2020-01-16 09:21] knfoo opened #18 "Add support for services"
It would be very use full to have the ability to handle services with terraform.
It is not listed in either the resources or limitations in the readme.
Is it already working ?

[2020-01-16 14:45] treywelsh commented on #18
Hi,

Thank you for your issue :)

No, for now there is nothing implemented to manages services in the OpenNebula provider.

As far as I know, we didn't planned to add this soon. Maybe later @jaypif ?

Technically, to better understand the work to to do, I took a look at the part of the OpenNebula API that manage the services.
I did a bit of reverse, so please @christian7007 don't hesistate to corr

[2020-01-16 15:02] christian7007 commented on #18
Yes, as @treywelsh said is not that easy to include service management inside GOCA as OneFlow is a separate component interfaced via REST API not XML-RPC.

If you are working on that @treywelsh, don't hesitate to contact me and we can discuss how to include this in GOCA.

[2020-01-16 18:21] knfoo commented on #18
OK

Thank you for the detailed answer.

[2020-01-27 08:58] jaypif opened #20 "Documentation Various issues and old goca"
Under HTML doc there are still:
* Formatting issues (markdown or typos)
* Deprecated Terraform syntax (before 0.12) examples

[2020-02-04 08:27] jaypif opened #22 "Add support for tagging"
Terraform offer the possibility to tag resources. Tags are totally customs.
Because it is possible to add custom attributes to some OpenNebula resource this feature could be very interesting for any people who wants to use OpenNebula custom attributes with Terraform tagging.

[2020-02-07 08:42] #16 closed, assigned to nobody

[2020-02-07 08:43] treywelsh commented on #10
Added by #13
Feel free to reopen the issue if something wrong :)

[2020-02-07 08:43] #10 closed, assigned to treywelsh

[2020-02-10 13:25] benosman opened #23 "Templates always update even without changes."
I'm using the template resource and have found it impossible to get the resource to pass through a `terraform apply` without updating.

I've updated to the latest changes in master, and at first I experienced whitespace issues which were giving false positives. After fixing those, the diff shows no actual differences in the template but still requires an update.

I even used a template data source

[2020-02-20 15:00] treywelsh opened #26 "Add template and VM schemas"
As proposed in this comment: https://github.com/OpenNebula/terraform-provider-opennebula/pull/24#discussion_r377229103

We could add some new schemas parts for VM and template resources.

Draft proposal:

We could add the field `description` on both (but also on images... etc)

Add to Template resource:
- `hypervisor`
- `sched_requirements`
- `user_inputs`

EDIT: an user asked for an other [placem

[2020-02-20 15:08] treywelsh opened #27 "[Virtual Machine] some configuration parts can't be updated"
For VM resources, we could allow to udpate configuration parts:

- graphics
- os
- context (taking care to not erase the whole context)
- tags

Note: for VMs there is two RPC vm update method regarding the part to update.

[2020-02-20 17:24] histrio commented on #2
It works now. Thanks!

[2020-02-27 13:17] #23 closed, assigned to nobody

[2020-02-27 13:55] treywelsh commented on #23
@benosman

The PR being merged, feel free to open a new issue is you see any other problem

Thank you :)

[2020-02-27 14:02] #15 closed, assigned to nobody

[2020-03-09 09:45] treywelsh commented on #22
#28 adding support of custom tags for resources is now merged.

[2020-03-09 09:45] #22 closed, assigned to jaypif

[2020-03-18 14:41] jaypif opened #29 "Missing parameters in some data sources"
During a `terrafrom plan` if a resource has some parameters set, the data sources expects also to have them because dataSource and resource share the "Read" function.

[2020-03-18 17:29] treywelsh commented on #29
Fixed by #30

[2020-03-18 17:29] #29 closed, assigned to jaypif

[2020-03-24 12:17] hbuttguavus commented on #3
I am no longer facing this issue. Thanks!

[2020-03-24 15:47] jaypif commented on #3
Great :)

[2020-03-24 15:47] #3 closed, assigned to nobody

[2020-03-27 00:09] mateusmuller opened #31 ""resource not found" when creating any resource"
Hi guys,
I have tested with both Terraform 11 and 12.
I have tested with network and image resources and the same happens.
I am using MacOS Mojave 10.14.6.
Actually it creates the resource, but it shows an error message in the end, which is strange.

[code]

This is the code:

[code]

It creates the resource, but because of the error, I cannot send the output to another module.
I could not find an

[2020-04-03 17:53] trenton42 commented on #26
I'm not sure if I missed it, but I think the User Template section is also missing on VMs

[2020-04-07 17:03] treywelsh commented on #26
The UserTemplate part is managed through the _tags_ schema for now :)
In fact, the tags schema was added to manage custom key, value pairs (So tags may manage a subset of the UserTemplate part in the future).
However, there is a limitation, only key, value pairs are managed, not custom vectors.

[2020-04-07 17:26] trenton42 commented on #26
Thank you! That is helpful :+1:

[2020-04-08 08:28] turb0steve opened #32 "vRouter integration"
**I can't thank you all enough for your hard work on this provider - it's truly invaluable.**
I fully appreciate the decision to focus on VMs and networking, as client workloads generate far more operational effort than managing the cluster itself.

**Are there any plans to add vRouter support?**
At the moment I am having to build vRouters using null-resource and firing onevrouter commands, which

[2020-04-09 16:05] jaypif commented on #32
hi @SteveBristow

Thank you very much for your message. It is always a pleasure to read this when someone open an issue :D.

About vRouter, I tried at the beginning of the development of this provider and I faced some issues. But I think we can add it in the Roadmap as some improvement were performed on Goca (OpenNebula GOlang bindings) and it can help a lot.

As I am writing "Roadmap", actually t

[2020-04-09 16:15] jaypif commented on #31
hi @mateusmuller

Sorry for the late reply

What is the version of OpenNebula you use ?
What is the release of the provider ?

If the resource is well created on One it means the error occurs when Terraform performs the "Read" part before displaying the output.

thank you for your answers

[2020-04-14 08:29] turb0steve commented on #32
Thanks @jaypif  (et merci),
vRouter can feel a little bit "added on" to OpenNebula - I think it's still finding it's way into the core - but it is a deeply useful, as NFV is a key component of any private cloud - certainly the SDN is one of the key drivers for our adoption.

I will try and contain my excitement for 0.3, and keep null_resourcing bash scripts in the meantime.

I hope your good work

[2020-04-14 09:54] turb0steve commented on #20
I have a few updates to the data provider markdown I can contribute, if it helps?
It's just from my own notes - not likely to set the world on fire 😄.
[ONebTF  Data Provider.zip](https://github.com/terraform-providers/terraform-provider-opennebula/files/4474544/ONebTF.Data.Provider.zip)

I'll be updating these anyway as I work with them, so happy to share?

[2020-04-22 09:39] puppetmaster commented on #31
Hi @jaypif
  I have the same issue with :
-  OpenNebula 5.8.5
- terraform-provider-opennebula v0.1.1

This occurs only with virtual_networks and only if I try to create virtual_machines.

Maybe this can help :
[log.txt](https://github.com/terraform-providers/terraform-provider-opennebula/files/4516730/log.txt)

[2020-04-22 14:57] puppetmaster commented on #31
Ok ! Welcome to the 4th dimension !

So I decided to track this so called "bug", I put on my gopher slippers and game on !
- [x] Fork main project
- [x] Track down the "Read" lead proposed by @jaypif
- [x] Add some more debug in the suspect function
[code]
- [x] Build my new dummy version of the provider !
- [x] Put it in place !
- [x] terraform init
- [x] TF_LOG_PATH=./out.log TF_LOG=DEBUG terraf

[2020-04-22 15:13] puppetmaster commented on #31
Wait for it, it gets even weirder ..
[code]
This line : log.Printf("[DEBUG] CADOLES 3 [%s]", err) makes the "bug" go away ...

Maybe somebody with more knowledge about this provider code than me can make sens of this.

[2020-04-24 13:44] jaypif commented on #31
Hi @puppetmaster

Sorry for the late reply

It looks like there is a race condition between Terraform and OpenNebula.
Terraform, developed in GO will send parallel requests to the OpenNebula server.
But I think in your case the network is not ready (creation is not finished) while the VM needs it.

Can you try to add `depends_on` (https://www.terraform.io/docs/configuration/resources.html#depends_

[2020-04-24 15:49] denizcandas opened #34 "Add support for states that can be resumed"
We need to undeploy VMs instantiated in opennebula. We would like to be able to use terraform to do this.
As mentioned in [opennebula's docs](http://docs.opennebula.io/doc/5.8/cli/onevm.1.html), one can use onevm to resume from the following states: STOPPED, SUSPENDED, UNDEPLOYED, POWEROFF, UNKNOWN

A suggestion would be to add a desired_state attribute, which supports all the states which can be

[2020-04-24 16:47] denizcandas commented on #34
What would the desired behavior be, if the user uses this flag and the pending flag at the same time? Should the pending flag be overridden? I have also noticed that if we create a VM with pending=true, the VM is still in HOLD even if the resource is applied with pending=false. It has an effect only during creation. However, desired_state attribute would be applied during create and update operati

[2020-04-24 17:30] denizcandas commented on #34
If the user enables pending and a state except ignore, the VM will be on HOLD during creation. If the user sets the desired_state to any value except ignore and updates the VM, then the VM will be first released, and then the desired_state will be satisfied. As HOLD is not a state which can be resumed from with onevm's resume command, and not a state which can be attained after the vm has been act

[2020-04-27 11:00] jaypif commented on #34
Hi @denizcandas

If I understand your need you want to manage VM state via Terraform ?

This feature is really interesting, however there are some point to be taken into account:
- The VM is  currently running, you update the VM to set `desired_state` to `stopped`: you stop the VM: OK
- The VM is  currently stopped, you update the VM to set `running`: do you expect to restart the VM ?
- The VM is

[2020-04-28 18:35] denizcandas commented on #34
Hello @jaypif
I have created an example state machine diagram for the plugin and also took out all the relevant states from the opennebula diagram.

For the plugin:
![TerraformOpenState](https://user-images.githubusercontent.com/16650999/80525720-f3193480-8991-11ea-95c5-9c56ee8ad6ae.jpg)

The relevant states that might have to be handled, the desired states are the four states which can be transfo

[2020-04-29 13:35] turb0steve opened #36 "Timeout provisioning VMs"
With larger virtual machine images, or poorly performing storage, the VM instantiation process seems to time-out during the file-copy part of the process at around 3mins.      This seems an extremely short timeout of VM provision (I believe the equivalent in OpenStack and AWS is ~15mins) and causes a terraform apply to fail.   Re-running will, of course, continue successfully as the file has been

[2020-04-29 14:23] jaypif commented on #36
Hi,

Yes we can extend it of course.
Ideally we can add a param to configure something depending of the usage.

Regards

[2020-06-05 07:40] jaypif commented on #34
Hi @denizcandas

Thank you for this really complete explanation.
This is really interesting. I add this into the 0.3.0 release. It should be tested very well and it represents a huge work on the VM resource.
I cannot give an ETA yet.

[2020-06-19 11:14] jaypif commented on #27
Hi,

tags update is already supported

For other stuff it is more complicated as it depends on lots of stuffs

[2020-06-24 13:14] jaypif opened #42 "[Resource][Virtual Machine] Error on update if context parameter is not set"
Context is not well managed on update neither on Read.

[2020-06-25 16:25] jaypif opened #43 "[Resource][Virtual Machine] Fix wrong error catching"
Sometimes error are not well managed

[2020-06-26 09:28] #43 closed, assigned to nobody

[2020-06-26 14:28] #42 closed, assigned to nobody

[2020-06-26 14:28] treywelsh opened #46 "Fix unexpected test behavior"
Some PRs add/remove the `ExpectNonEmptyPlan` flags to the tests, sometimes to make it pass.
We probably miss something, this should be investigated.

[Some terraform doc for reference](https://www.terraform.io/docs/extend/best-practices/testing.html#expecting-errors-or-non-empty-plans)

To illustrate, here are some PR, that switch these tags at the same place in template and virtual machine tests:

[2020-06-26 14:38] treywelsh commented on #36
The PR is merged, I close the issue. If there is any problem on this part feel free to reopen it or open a new issue.

[2020-06-26 14:38] #36 closed, assigned to nobody

[2020-06-29 08:40] jaypif opened #47 "[Resource][Virtual Network] Security group cannot be configured for Address ranges"
It should be possible to configure security groups for each Address range.

[2020-07-02 09:54] jaypif opened #50 "[Resource][Virtual Machine] Race condition on test"
Regression introduced by 7f2d51ea56c4ec7a133fc6b96a7d603c69934738

[2020-07-02 12:07] #50 closed, assigned to nobody

[2020-07-02 14:31] #20 closed, assigned to jaypif

[2020-07-03 09:40] jaypif opened #52 "Regression on Context on terrafrom plan on existing resource"
Regression caused by: b071b27b4b9f722e881f3954531a192e3cd99275.

[2020-07-03 09:41] jaypif opened #53 "Remove Computed on tags"
Computed is useless for tags

[2020-07-03 12:54] #52 closed, assigned to nobody

[2020-07-03 13:00] treywelsh commented on #46
The changes on `ExpectNonEmptyPlan` that made me open this issue were finally reverted as part of #54

[2020-07-03 13:02] #53 closed, assigned to nobody

[2020-07-03 13:04] #46 closed, assigned to nobody

[2020-07-10 15:05] llakssz opened #56 "Problem with 'context' block in OpenNebula template resource"
When trying to use the `context` block in a OpenNebula template resource, it returns with an error. From what I understand, this should be a new feature added in 0.2.0/0.2.1, so I'm confused as to why this is happening.
https://www.terraform.io/docs/providers/opennebula/r/template.html#context

When running `terraform plan`:
[code]

Extract from main.tf file:
[code]

Output of `terraform -v`:
[cod

[2020-07-10 15:28] treywelsh commented on #56
Hi,

As you can see in [VM test code here](https://github.com/terraform-providers/terraform-provider-opennebula/blob/master/opennebula/resource_opennebula_virtual_machine_test.go#L228) there is an equal sign: `context = {`.
This is also what the error you get reports, to write the equal sign.

There is no equal sign on the terraform page so this may be a documentation issue.

Sorry to not give you

[2020-07-10 15:53] llakssz commented on #56
From reading the error message, I had thought that providing `=` in the HCL file would change the behavior of `context` and not give the desired outcome. I too do not fully understand HCL syntax, so maybe that adds to my confusion, so don't worry and thank you for the help!

Is the documentation the problem (not including the `=`), or is the implementation the problem (requires the `=`)?
Is there

[2020-08-18 11:31] benendboss commented on #56
In the example on the terraform-opennebula [doku](https://www.terraform.io/docs/providers/opennebula/r/virtual_machine.html) there is '=' missing for context block.

[2020-08-18 11:34] benendboss commented on #27
i try to make changes on my vm's like gaining more memory and the apply goes trough with successfully changes but nothing happen to the vm/template

`module.vm.opennebula_virtual_machine.vm[0]: Refreshing state... [id=778]

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  ~ update in-place

Terraform will perform the following ac

[2020-09-17 10:44] treywelsh opened #57 "use ACL methods from Goca"
This issue is just about some code cleaning:

This PR added ACL methods to terraform provider: https://github.com/terraform-providers/terraform-provider-opennebula/pull/25
Later, these methods were added to Goca, with this PR: https://github.com/OpenNebula/one/pull/4980

Now, these ACL methods should be removed from the provider side, the provider should only use the ACL methods from Goca.

[2020-09-18 11:19] jaypif opened #58 "Zone support"
In case there are several zone on OpenNebula cluster it should be nice to support several zones (they must be part of an OpenNebula federation)

[2020-10-02 12:07] treywelsh commented on #58
[See the alias meta argument](https://www.terraform.io/docs/configuration/providers.html#alias-multiple-provider-configurations) already available in terraform.
It allows to manage multiprovider configuration, so, with one configuration per zone this mechanisms could be used to manage resources across several zones.

[2020-10-02 12:07] #58 closed, assigned to nobody

[2020-10-08 07:35] treywelsh opened #60 "CI failure"
It seems that the CI of the repository doesn't work anymore.
Here are some filtered logs.
[code]

Full logs are here: https://travis-ci.org/github/OpenNebula/terraform-provider-opennebula/builds/733708888

[2020-10-08 07:35] treywelsh commented on #60
If you have some time to take a look @christian7007

Thank you !

[2020-10-08 09:48] treywelsh commented on #27
I didn't mentioned important parts that we may want to update on a running/powered off VM... like disk, NIC.
I opened new issues to track current proposal on:
- VM disk update: #64
- VM nic update: #72

[2020-10-08 10:47] treywelsh opened #63 "resources updates not applied"
Resource updates are marked as applied in the plan even when not applied on the cloud provider.
We don't handle if a part could be updated or not there is no check, and there is no documentation.

Here's the quote from a team member on the problem:
[code]

[2020-10-09 09:42] treywelsh opened #64 "allow disk update on previously created VM"
Allow to attach/detach disks to a running/poweroff VM.

The implementation take the decision based on the comparison of the image_id argument between the new disks configured, and the disks in the terraform state.

Operations are done in this order:

1. If an `image_id` is found in the state, but not in the new config, it's considered as attached, thus, the disk will be detached based on the `disk

[2020-10-09 09:58] treywelsh opened #65 "allow to lock ressources"
To prevent accidental operations like resource deletion, [OpenNebula allow to lock resources](https://docs.opennebula.io/5.12/operation/users_groups_management/chmod.html#locking-resources).

We could enable this in terraform via a new schema argument, and lock ressource at creation (or only via updates).
Then to destroy a locked ressource this should done in two steps:
1. a first apply to unlock

[2020-10-13 06:15] ilhaan commented on #63
Seeing the same issue

[2020-10-13 07:14] jaypif commented on #63
Hi,

Context update are not taken into account.
Tags update work but not context change. context change are only possible during VM instantiation. You need to destroy and recreate the resource to apply your changes.

[2020-10-19 19:51] bdeetz opened #66 "ar not valid parameter for opennebula_virtual_network"
When I define a virtual network like the following:
[code]

I receive the following:
[code]

My terraform version is 0.13.4 with opennebula provider version 0.2.2. I see in the following provider code that ar is supposed to be a valid parameter. So I'm really not sure what's going on here. https://github.com/OpenNebula/terraform-provider-opennebula/blob/v0.2.2/opennebula/resource_opennebula_virtua

[2020-10-20 15:20] jaypif commented on #66
Hi,

`ar` is a terraform list.
You should use it without brackets like this.
[code]
The doc is wrong I will fix it. thanks

Can you retry ?

It should work

[2020-10-20 15:32] bdeetz commented on #66
Close. There should not be commas between the arguments.

[code]

The following worked:
[code]

[2020-10-20 16:45] jaypif opened #67 "Crash when using hold_size and ip_hold"
Terraform crashes when using `hold_size` and `ip_hold`

[2020-10-21 09:49] jaypif opened #69 "Add ressource to manage users"
Managing OpenNebula Users via Terraform can help administrators to automate the full scope.

/!\ Only members of "oneadmin" group will be able to use this resource

[2020-10-23 08:25] treywelsh commented on #60
Fixed by #70

[2020-10-23 08:25] #60 closed, assigned to christian7007

[2020-10-23 14:37] treywelsh opened #71 "make image_id optional for VM disk"
A terraform user suggested to make all arguments of template disk schema optional (for now, only `image_id` is required).

Here is the original message:
The idea behind this is to have a map that can be define as example:

[code]
or
[code]

that return {} too without error during instance creation process. I think that will give use more flexibility on vm creation

[2020-10-27 09:42] treywelsh opened #72 "allow NIC update on previously created VM"
Same that #64 but for NICs.

[2020-10-27 15:11] treywelsh commented on #64
PR #59 merged.

Side note: later work related to issue #71 may conflict with this PR.

[2020-10-27 15:11] #64 closed, assigned to treywelsh

[2020-10-27 15:39] #67 closed, assigned to jaypif

[2020-10-27 15:40] #66 closed, assigned to jaypif

[2020-10-27 16:04] #57 closed, assigned to treywelsh

[2020-10-27 17:33] treywelsh opened #74 "proposal to leverage network traffic on VMs"
To track VM state change we rely on polling, calling RPC method [one.vm.info](https://docs.opennebula.io/5.12/integration/system_interfaces/api.html#one-vm-info)

This method returns all VM attributes but we only need the VM state, this is wasteful, a VM may have a lot of attributes (history records, disk, NIC...).
Instead, pools methods allow to retrieve a subset of all VM datas, and to filter VM

[2020-10-28 14:37] #71 closed, assigned to nobody

[2020-11-03 10:47] treywelsh commented on #69
#76 merged

[2020-11-03 10:47] #69 closed, assigned to nobody

[2020-11-03 14:05] jaypif commented on #4
Hello

Small update about this issue:
Since v0.2.0 following Resources are supported:
- `opennebula_acl`,
- `opennebula_group`,
- `opennebula_image`,
- `opennebula_security_group`,
- `opennebula_template`,
- `opennebula_virtual_data_center`,
- `opennebula_virtual_machine`,
- `opennebula_virtual_network`,
- `opennebula_virtual_machine_group`

In master branch there is already `opennebula_user` reso

[2020-11-03 14:58] jaypif commented on #32
Hi @SteveBristow

I am thinking about this issue.
Vrouter in OpenNebula is an appliance on top of VMs.
To deploy a Vrouter you need to create a Vrouter template (which is a teamplate with the attribute `VROUTER = YES`) and then you can create a Vrouter. Finally you need to instanciate Vrouter using the Vrouter ID and the template ID.
After instanciation you have one or several VMs "Vrouter" runnin

[2020-11-04 11:56] #18 closed, assigned to nobody

[2020-11-05 21:44] aaachuang opened #81 "Not possible to use provider from Terraform Registry"
ran terraform 0.13.5 with required_providers source = "opennebula/openebula" failed. however it works with  terraform-providers/opennebula although with warning.

---

Initializing the backend...

Initializing provider plugins...
- Finding latest version of opennebula/opennebula...

Error: Failed to install provider

Error while installing opennebula/opennebula v0.2.2: provider
registry.terraform.

[2020-11-05 21:51] aaachuang opened #82 "opennebula_virtual_machine resource template_id parameter"
terraform 0.13.5
opennebula provider 0.2.2

template id 0 is valid from sunstone and onetemplate.  when used in opennebula_virtual_machine template_id = 0, it failed. the similar error happened in disk image_id = 0.

[2020-11-09 13:39] jaypif commented on #82
Can you share the terraform file and the output from terraform with the error please ?

[2020-11-09 13:55] jaypif commented on #81
Hi,

Can you share the terraform file with the block calling the `required_provider` ?

This should looks like this:
[code]

Thanks and sorry for the inconvenience

[2020-11-09 14:18] aaachuang commented on #81
terraform {
  required_version = ">= 0.13"
  required_providers {
    opennebula = {
      //  broken
      //source = "OpenNebula/opennebula"
      source = "terraform-providers/opennebula"
    }
  }
}

[2020-11-09 14:32] aaachuang commented on #82
[code]

[2020-11-09 14:37] aaachuang commented on #82
[code]

[2020-11-09 14:59] jaypif commented on #82
OK

This is surprising while test are OK but I will add a better check for the case id = 0.
Thanks

[2020-11-09 15:11] aaachuang commented on #82
i think i ran into the similar error with image_id = 0. please also check on that. thanks.

[2020-11-10 16:42] jaypif commented on #82
about  the image_id issue: it is already fixed by the PR #75
So in the next release 0.3.0  you should have both fixes

[2020-11-10 18:14] aaachuang commented on #82
thanks.

[2020-11-10 19:26] #82 closed, assigned to nobody

[2020-11-15 05:26] spuder opened #84 "Incompatible with OSX"
Terraform version = 0.13.5

When I try and use this provider on osx, I get this error

[code]
[code]

[2020-11-16 09:32] jaypif commented on #84
Hi,

This is the same issue than #81
Actually, the provider is not well published on the Terraform Registry. It does not work for any platform.

Sorry about the inconvenience. We are working on it with Terraform team.

I invite you to use the workaround from @aaachuang (#81) until a correct release is published on the registry

I close this issue, all updates will be performed on #81.

Regards

[2020-11-16 09:32] #84 closed, assigned to nobody

[2020-11-16 09:33] jaypif commented on #81
same issue with Mac OSX users.
[code]

[2020-11-25 13:43] treywelsh commented on #72
PR #80

There was some problems during implementation, I left two comments in the PR giving more details and possible solutions.

[2020-11-26 12:49] jaypif commented on #81
Hi,

After exchanges with Hashicorp a new 0.2.2 has been built and is now available on the Terraform registry.

I consider this issue as solved

[2020-11-26 12:49] #81 closed, assigned to christian7007

[2020-12-07 16:52] jaypif commented on #65
Lock is already implemented for some resources

[2020-12-07 17:10] treywelsh commented on #65
Indeed, lock management is implemented in the provider only for `image` resource.

Locking is available in OpenNebula for these resources:
- managed by the provider: VM, NET, TEMPLATE
- not managed by the provider: DOCUMENT, VROUTER, MARKETPLACEAPP

[2020-12-08 12:22] treywelsh commented on #72
PR merged

[2020-12-08 12:22] #72 closed, assigned to treywelsh

[2020-12-08 16:42] jaypif commented on #34
Hi I will change the milestone to 0.4.0.
The PR #33 should be rebased too

[2020-12-08 17:41] jaypif opened #86 "Add support for VM disk resize"
It could be very interesting to support VM disk resize to hot resize a VM disk

[2020-12-16 18:14] jaypif opened #92 "Do not set quotes in state if not present in the resource"
Terraform detects a change because quotas is set as a Set with empty elements in the terraform state event if there are no quotas defined in user or groups.

[2020-12-17 10:27] #92 closed, assigned to jaypif

[2020-12-17 10:29] #86 closed, assigned to nobody

[2020-12-28 11:52] christian7007 commented on #56
It seems that omitting the `=` sign for defining attributes was supported until Terraform v0.12.0: https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html#configuration-syntax-changes.

[2020-12-30 18:12] treywelsh opened #95 "resources update methods"
Update methods doesn't work all the same way there is some refactoring to do.

Some of them use `Partial` and `SetPartial` methods, some others not.
As a side note, `SetPartial` is deprecated in later version of terraform SDK (but we don't use the SDK for now): https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html#removal-of-helper-schema-resourcedata-setpartial

Some of them don't cal

[2021-01-13 16:15] baverman opened #97 "Second call to `terraform apply` removes disk"
Provider version: 0.3

I have a simple resource:

[code]

First `terraform apply` creates VM successfully. By if I run apply second time it deletes my disk:

[code]

[2021-01-13 16:38] jaypif commented on #97
Hi @baverman

Can you confirm disk are already present in your template ?
I think this is beacuse your disk is already in the template. As it is not explicitly declare in the VM when you apply a second time, the provider consider the VM has no disk and it detach all disks.

If this is the case, it means there is also the same issue with NIC.

For readability and maintenability it is better to have

[2021-01-13 20:01] baverman commented on #97
Yes. Template is defined with a disk.

I will be glad to use disk image but our current setup assumes some context boot hda device and I did not managed to create a working VM without a template.

[2021-01-18 10:37] ankur-gupta-guavus opened #98 "CPU Model while using opennebula_virtual_machine"
Hey guys I was wondering how can we specify CPU MODEL while using opennebula_virtual_machine . Can you please helo with the same ?

[2021-01-18 11:35] jaypif commented on #98
Hi @ankur-gupta-guavus

Unfortunately it is not available yet. It could be added as a new feature. It will look like "os" or "graphics" section.

[2021-01-18 14:03] ankur-gupta-guavus commented on #98
@jaypif Can you please check following [PR](https://github.com/OpenNebula/terraform-provider-opennebula/pull/99)

[2021-01-18 17:28] treywelsh commented on #97
Thank you for reporting this,

This is not a behavior specific to disks and NICs, unexpected things could happen later for other VM parts (OS, graphics etc...) added via the template _only_ and with an update behavior.

You're in the only case that trigger the problem:
At VM creation, with a `template_id`, the parts described in the tf file will overwrite template parts. (putting disk in tf file w

[2021-01-27 14:40] treywelsh opened #101 "[Resource][Virtual machine] root ip attribute"
At root of VM schema, there is an ip attribute defined:
[code]

Filled with first ip address of the list of nics (in two places):
[code]

This was added in initial code of the provider and we may want to remove it in later code refactoring.

[2021-02-02 16:36] jaypif opened #104 "[image] Split size attribute into size and computed_size"
Problem:
Since resize is supported on VMs, the Image size can change during image lifecycle. However the `size` value of the resource image attached to the VM is not updated. This lead to a situation of delete / recreate image because the `size` is not the same.

Solution:
Use `size` of the image to be the "orignial size" of the image
Add a `computed_size` to reflect the size of the image on OpenN

[2021-02-03 10:27] treywelsh commented on #104
After some investigations on the problem: the `size` is not read by the provider in the image resource.

So yes, the image `size` won't be up to date after a disk resize (implemented in 0.3.0 version of the provider) on persistent image, but this won't trigger any harmful behavior, nothing will happen.

If we choose to implement this behaviour (read the image size), we'll need to take care to not

[2021-02-03 14:39] treywelsh commented on #95
Some providers seems to remove `Partial` and `SetPartial` calls, some other keeps `Partial` calls only.

Calling `Partial` may have an impact in case of an error during an update operation, see doc linked above and [this issue](https://github.com/hashicorp/terraform-plugin-sdk/issues/476) for more details.

From my understanding, a diff may be applied to the state, even in case of an error during

[2021-02-22 11:14] treywelsh commented on #98
PR #103 merged

[2021-02-22 11:14] #98 closed, assigned to nobody

[2021-02-23 14:10] #97 closed, assigned to nobody

[2021-02-24 10:46] #95 closed, assigned to nobody

[2021-02-25 10:32] jaypif opened #105 "[NIC] Add support for `VIRTIO_QUEUES` in nic interface"
To manage in a better way high traffic on VM with several locical CPUs and in case the VIRTIO model is used (on KVM node) using the [virtio multi queue ](url) is necessary

It is already possible to do this on sunstone GUI

There is a NIC param on VM template `VIRTUO_QUEUES` to use for this case.

*Warning* It works only with `model = virtio`

[2021-02-26 11:27] jaypif opened #106 "[Virtula Machine] Remove Computed on Optionnal Fields"
Better management of some Optional fields. If they are not provided as there are optional it must not result in an error

following Attributes are concerned:
- os
- cpumodel
- graphics

[2021-02-26 16:31] treywelsh commented on #106
Two things changed here:
1. removal of unneeded `computed` behavior on attributes
2. reading behavior: attributes are read only when they are defined by the user

By the way, a check has been added on `vmgroup` to only read it's content when defined in VM resource in tf file.

We want to avoid this case:
instantiating a VM with `template_id`, with a template that define some parts (`os`, `graphics

[2021-02-26 16:31] #106 closed, assigned to nobody

[2021-02-26 18:20] pgehres opened #109 "opennebula_virtual_network.dns requires a space-separated list, not a comma-separated list"
I believe that this is simply a docs issue and not a code issue.

Per the [OpenNebula docs for a Virtual Network](https://docs.opennebula.io/5.12/operation/references/vnet_template.html#vnet-template-context), the DNS value in contextualization attributes should be a space-separated list, not a comma-separated list.

However the [provider docs for opennebula_virtual_network](https://registry.terra

[2021-03-01 12:16] #105 closed, assigned to nobody

[2021-03-24 10:26] kvaps opened #111 "Not authorized to perform USE GROUP [0]."
Hi, we have configuration when users do not belong default "Users" group in OpenNebula. Each user has his own group with own set of ACLs.

The problem is that when non admin user tries to create some resource, the following error returned:
[code]

To avoid this error, user must explicitly specify his group in the resource definition:

[code]

**Purposed solution:**
Do not use id=0 as default value

[2021-03-24 11:19] jaypif commented on #111
Hi @kvaps

Actually only members of the `oneadmin` group are able to manage users and ACLs.
It is not allowed by Any other group to do this even if you give the ACL right to a group wich is not `oneadmin`

I already opened an issue at OpenNebula and they told me that limitation (`oneadmin` members only can manage ACLs) is in place for security reason and it won't change

So in your case I am afrai

[2021-03-24 11:36] kvaps commented on #111
Hi, @jaypif.

Thanks for details, but my case is slight different.

Actually I don't want to make any chown, but I force to specify group, otherwise the provider will try to chown resource to gid=0 and exceptionally will fail with the error.

[2021-03-25 09:45] jaypif commented on #111
The provider use the primary group of the user which creates the resource

If the user you use to create resource has `oneadmin` (`gid = 0`) as primary group all resources are created with this group and then there is a chown to put the resource in the target group

The group must be crated prior to the resource with `opennebula_group` before.

Hope this help, Otherwise can you provide us the erro

[2021-03-25 09:54] kvaps commented on #111
This is how it should be, but actually this statement is wrong, as my user does not belong to any `gid=0`

[code]

Thus during the apply operation the resource is created with `gid=4577`, but after that operator tries to invoke chown for `gid=0` for some reason. This is confuses a lot.

[2021-03-25 10:00] jaypif commented on #111
Ok what is the `gid` of the group `mygroup` ?
Does this group exists ?

If not the group id is set to 0.

I will take a look to check the error management in case the targeted group does not exist.

[2021-03-25 11:43] kvaps commented on #111
The group is exists, has id `4577` this is main and only group which user belong (see the XML output above)

[2021-03-25 13:20] jaypif commented on #111
The group name in the XML is `oc4790` not `mygroup`

Sorry I don't understand your point.

If I understand well you use the user `NAME = oc4790` with  `ID = 4787` member of the group `GNAME = oc4790` with `GID = 4577` to add a Security group resource `ssh-test`.
The permission for the resource is `600` wich means Owner manage, all other has no rights
You want to set the group to `mygroup` (I dont

[2021-03-25 13:24] kvaps commented on #111
Ok, I just replaced `oc4790` by `mygroup` in first output, sorry for confusing.

I don't want to set any group for the resource, but I have to because if group unspecified then terraform-provider will try to set gid=0 on it and expectially will fail because user has no rights for this.

[2021-03-25 13:26] jaypif commented on #111
Oh I understand your last point. I will fix it

thanks

[2021-03-25 19:16] stewpan opened #112 "Error during VM creation on opennebula 5.2"
Sometimes and sometimes not I got an error during VM creation with the following:

[code]

Not sure how to solve  this or what exactly causes it, maybe because my provider uses such an old version of opennebula?

[2021-03-25 21:44] stewpan commented on #112
Not sure why, but when I edit the code to wait for a running state it runs without problem after line 398.
[code]

[2021-03-26 17:42] CRASH-Tech opened #113 "Feature request: Allow upload image from terraform host for opennebula_image"
subj

[2021-03-29 08:15] jaypif commented on #112
Hi @Stvdputten

Unfortunately the Terraform provider has been developed and tested only for OpenNebula release starting from 5.6.

The goca (OpenNebula API wrapper) has been officialy released with 5.6.

The behavior before 5.6 cannot be guaranteed.

If possible I invite you to test on a recent release.

Regards

[2021-03-29 09:13] stewpan commented on #112
Thank you for the response, @jaypif !

I fear I'm stuck with 5.2! I'll use my current solution, which is fine for now.

[2021-03-29 12:10] #112 closed, assigned to nobody

[2021-03-30 10:27] kvaps commented on #111
Hey, there is also one bug found on OpenNebula, https://github.com/OpenNebula/one/issues/5315.
In combination with terraform-provider it is blocking VM creation requests with enough quota for the group.

Of course it should be fixed in core, but I think terraform-provider should not invoke one.vm.chown method in case if it is not really needed to avoid such problems on already existing installatio

[2021-03-30 10:37] jaypif commented on #111
`group` is optional so you can remove the line in your resource. This means `chown` won't be call.

`group` must be specified only if you need to set a specific group for the resource otherwise it uses the caller primary group.

[2021-03-30 10:39] kvaps opened #114 "Do not require name for the resources"
Most of the resources can't be created without name attribute, while other cloud providers allowing doing this.
Terraform has statefile logic and the same code can be used to spawn multiple environments.
Each environment can have own set of resources with the computed names, which should not conflict with each other because of that.

[code]

[2021-03-30 10:42] kvaps commented on #111
Are you sure?
When group is not set, the terraform-opeator tries to set `group=0` instead.
So the method is still called.

[2021-03-30 11:37] jaypif commented on #114
Hi @kvaps ,

The provider has been designed to follow OpenNebula's Logic.
Some resource must have a valid name to be created, some others has a name provided by OpenNebula itself.

So Here it up to OpenNebula behavior not the provider.

[2021-03-30 11:44] jaypif commented on #111
The chown is not performed if group is not specified on resource creation yes.

If the user which create the resource is member of group 0, the resource is created with this group.

[2021-03-30 11:52] kvaps commented on #111
The original issue confirms that this statement is wrong.

Eg. my user **does not** belong to group 0, and when you try to create any resource with group unspecified, provider will try to invoke chown with group=0 for some reason.

[2021-03-30 12:05] kvaps commented on #114
You're right, terraform provider should not include more logic than needed.
Thank you for explanation.

[2021-03-30 12:05] #114 closed, assigned to nobody

[2021-04-24 11:43] Yenya opened #115 "template: volatile disk"
Hello,

is there any way how to specify a volatile disk in the template?

For a template created with Sunstone, I use the following template section to specify 2GB swap as a volatile disk:

[code]

Is it possible to do the same in the terraform provider? If so, how? I tried guessing:

[code]

But it did not work (`An argument named "type" is not expected here.`).

[2021-04-24 11:55] Yenya opened #116 "Recreating image: NAME is already taken (race condition)"
When I want to recreate an image under a different terraform resource name, `terraform plan` says that it wants to destroy the image and create a new one, but `terraform apply` destroys the original image, but then fails to create the new one with

[code]

There is probably a race condition somewhere, that the old image name is still present somewhere deep in ONe. When I run `terraform apply` once

[2021-04-24 18:20] Yenya opened #117 "Image import: not all attributes imported (especially datastore_id, forcing replacement)"
I am trying to import some existing resources to terraform. I have the following section:

[code]

Then imported the image using the following command:

[code]

However, when I run `terraform plan`, it wants to destroy and re-create the image, because there are no attributes `datastore_id` and `clone_from_image`, which both force replacement. There is no way how terraform would know which image th

[2021-04-24 20:52] Yenya opened #118 "Template import: not all attributes imported, cannot be modified by terraform apply"
I tried to import one of my virtual machine templates into terraform. The import went well, but `terraform plan` still displays changes to be made. When I do `terraform apply`, it tries to apply the changes, reports no error, but `terraform plan` displays the same changes waiting to be applied again:

[code]

[2021-04-26 08:03] jaypif commented on #115
Hi  @Yenya

Disk in VM or templates are OpenNebula Images.
Adding a disk in a template or a VM suppose the Image already exist.

In your case you have to create the swap Image before using it in your VM template.

Disk are not created automatically by the template resource for the moment.

Best regards

[2021-04-26 08:07] jaypif commented on #116
Hi  @Yenya

It is possible that the OpenNebula database is not well refreshed between the 2 calls (destroy and create).

It seems that for the provider the destroy was OK but for some reason opennebula refuse the new image because it already exists.

The provider behavior is correct as it consider the image destroyed (image status is "DONE") before recreating it. It seems the issue is on opennebul

[2021-04-26 08:11] jaypif commented on #117
Hi @Yenya

`clone_from_image` is not relevant in case of importing an image. It is intended to clone an existing image.
`datastore_id` forces the image recreation indeed. This is because when you create an image you have to specify the datastore_id. If you change it it delete / recreate the image. There no other way for the moment to migrate from 2 datastore an image.

So you are right importing a

[2021-04-26 08:37] Yenya commented on #117
@jaypif: thanks for the reply.

What I am trying to do is to import the existing image, but be able to say e.g. `count=3` in the future, and have two more images created from the same base image as before. Or to be able to destroy the image and recreate it the same way. My use case is to get a generic OS image (say, preinstalled Fedora 33 minimal), and specialize it to some server role.

I am not

[2021-04-26 08:42] Yenya commented on #116
OK, @jaypif - thanks for verifying this. So should I close this issue and open a new issue with base OpenNebula/one ?

EDIT: created an issue in the base OpenNebula: https://github.com/OpenNebula/one/issues/5359

-Yenya

[2021-04-26 09:06] jaypif commented on #117
You can. You can use the `clone_from_image` to create a new image based on the existing one.
You can get the image ID you want to clone via a data_source and use it in your new image.

You will create a new image based on the existing one.

It is what we do on our side. We have "based" image we never deploy them on prod. We create new ones each time by cloning them.

Regards

[2021-04-26 09:09] #116 closed, assigned to nobody

[2021-04-26 09:09] jaypif commented on #116
I close this issue as this is a race condition on ONE side

[2021-04-26 09:13] Yenya commented on #115
@jaypif - thanks for your reply.

In fact, not all disks in OpenNebula VM or template are OpenNebula images. Volatile disks are not images living in an existing datastore. They are defined in the template (or a VM), and created on the fly during the template instantiation (or during Deploy of a previously undeployed VM). They get destroyed during Undeploy or a VM destruction. They do not have imag

[2021-04-26 09:20] Yenya commented on #115
It is possible to try volatile disks in base opennebula the following way: have a running VM, preferably Linux with the contextualization package (https://github.com/OpenNebula/addon-context-linux) installed. Then run the following:

[code]
After that, you should be able to log into the VM and see the new swap space being enabled automatically.

It would be nice if the Terraform provider can suppo

[2021-04-26 09:25] Yenya commented on #116
Thanks and sorry for creating the issue to the incorrect package.

[2021-04-26 09:42] jaypif commented on #116
don't be ;).
I prefer reading issues instead of the contrary. It means people use the provider and OpenNebula :)

[2021-04-26 12:17] jaypif commented on #115
Hi @Yenya

OK thanks, We never though about that becauase we do not use this feature.

We can think about adding this feature in the provider in a future release.
I can't give you an ETA as we develop the provider when we have some bandwidth.

Regards

[2021-04-26 13:23] Yenya opened #120 "Template as a data source: disks and NIC"
Instead of importing an existing template (as in issue #118) I tried to use an existing template as a data source. However, when I created a VM using this template, subsequent `terraform plan` wants to delete its only disk and its only NIC:

[code]

The template in question is pretty straightforward:

[code]

Why did TF manage to overlook the fact that the VM was created with existing disk and NIC

[2021-04-26 13:33] jaypif commented on #120
Hi @Yenya

An issue already exist for this #97 . It is closed because it was close during the Merge of the MR.

It will be available in the next release

[2021-04-26 13:50] Yenya commented on #120
Aaah, sorry for the noise then. I remember reading through the open issues last week, but missed the issues which are closed but not yet present in the release I have.

[2021-04-26 13:50] #120 closed, assigned to nobody

[2021-04-26 13:53] Yenya commented on #118
This one could probably be a duplicate of issue #97 as well.

[2021-04-26 14:18] Yenya commented on #63
@jaypif - in newer OpenNebula releases (about 5.4+ or so) the context can be updated any time, even when the VM is running. Destroy and recreate is no longer needed. That said, the context is provided in form of an IDE CD, which does not support hotplug in Linux. So the guest cannot be notifed about the context change. But as soon as it mounts the context CD (or reboots inside the same qemu proces

[2021-04-27 08:26] Yenya opened #121 "Prompt for a password and store a temporary token"
Hello,

is it possible for terraform to prompt for a user password to OpenNebula, get a temporary token (the same way as `oneuser login` does), and use it for subsequent connections, until it expires? I tried to use a working terraform setup, comment out the `password = "mypassword"` line, and run `terraform plan`:

[code]
I would like to store the terraform configuration in Git, and obviously sto

[2021-04-27 08:44] jaypif commented on #121
Hi,

You can use a token instead of a Password.
But you have to create the token manually before.

The usersane must be set as requested by opennebula. Just replace the password by the token it shoud work.

Regards

[2021-04-27 09:14] Yenya commented on #121
@jaypif - I am aware of that, I even tried using manually generated token myself, it worked. But the token is still sensitive information, which should preferably be kept outside of the git repo, outside of the terraform configuration. Moreover, the token is usually temporary, so putting it into git means it needs to be refreshed on a regular basis.

What I would like to have is
- prompt for a pas

[2021-04-27 11:56] jaypif commented on #121
Terraform Provider has not been designed to be smart for the moment.

So you might need to include terraorm usage after another tool which managed the token for exemple :
1. Script to generate the token, get the token and store it in a varaibale.tf file
2. run terraform
3. remove the variable.tf file for example.

This can be done in a CI/CD pipeline too.

To generate a token it means that the ter

[2021-04-27 22:52] jamie-pate opened #122 "[Virtual network] reservation_vnet = 0 doesn't work"
if reservation_vnet <= 0 {​​​​​
            return fmt.Errorf("Reservation VNET ID must be greater than 0!")

Unfortunately 0 is a valid vnet id?

[2021-05-11 06:12] GnunuX opened #123 "[Template] Add support for RAW"
I would like create a template that starts an UEFI image.
I need, in the template, something like:
[code]

[2021-05-19 18:45] #104 closed, assigned to nobody

[2021-05-28 19:46] hbuttguavus opened #125 "Disks not properly recorded in state file when used in dynamic block"
I have an issue where the state file is recording the incorrect target and size for my disk in the dynamic disk block i have. The VM is created correctly and there are no issues when I run terraform for the first time. Any subsequent terraform updates I want to do result in an error.

main.tf
[code]

Example dynamic disks var:

[code]

Statefile excerpt:
[code]

Change that causes an error that I

[2021-05-28 21:38] treywelsh commented on #125
EDIT:
It's a misconception in the provider if we consider that it's ok to attach an image twice to a VM.
What is the use case ?

The reason of this problem is: the provider use the `image_id` to identify a disk in some code parts so here the provider is confused between the two disks.
A disk has it's own identifier `disk_id` which should probably be used instead, or maybe a check on `target` shoul

[2021-05-30 07:32] hbuttguavus commented on #125
I have an empty block storage defined as disk id 11 in my opennebula. If I want to add a disk to a vm I simply add this disk defining the size I want. I guess a workaround would be to have another one defined that I can use for a second disk that I want to add to the same vm.
I have not tried adding this disk twice to the same VM before until recently. Actually not sure if there are any repercussi

[2021-06-01 20:50] treywelsh commented on #122
You're right, 0 is a valid ID

[2021-06-04 01:51] treywelsh commented on #125
Hi,

[Here is my development branch](https://github.com/treywelsh/terraform-provider-opennebula/tree/fix_image_attached_twice), I tested it a bit and it seems better for your use case, and CI tests passes.
Feel free to test it in tricky use cases, make it fail, and give me feedback, it's not perfect but if it's good enough I'll probably make a PR.
By "not perfect" I mean for instance: trying some

[2021-06-10 20:18] treywelsh opened #126 "crash on user quota reading"
Terraform crash at user read step when it reads quotas informations.
One of the way to reproduce:
- create a user via terraform
- create a VM owned by the new user
- make a plan

Log:
[code]

[2021-06-10 20:23] treywelsh commented on #126
Seems to be caused by quotas datas in OpenNebula that trigger some reading code when it shouldn't.
Not all VM quotas informations are read by the provider (for instance, all datas suffixed by `Used` in goca structures: `CPUUsed`, `MemoryUsed`  etc. ), but the presence of a data that is not read still trigger some reading parts when it shouldn't.
This concern other resource `group`, and other quota

[2021-06-11 07:18] #126 closed, assigned to treywelsh

[2021-06-11 17:53] treywelsh commented on #116
I read the discussion in  OpenNebula/one#5359 and then I did some tests.
The presence of the image after deletion is already tested in the provider via the `waitForImageState` image method.
I'm able to reproduce your problem stated above in this issue, but at first glance I didn't noticed any obvious problem in the provider.

It may be due to the fact that terraform parallelize operations by defau

[2021-06-14 20:11] treywelsh commented on #123
Link to the documentation of the RAW section of the template resource: https://docs.opennebula.io/5.12/operation/references/template.html?highlight=raw#hypervisor-section

This should be added to the template section of the Template resource.

[2021-06-30 19:41] treywelsh opened #131 "[Virtual network] improve address range update"
Currently, when updating address ranges of a vnet, the provider remove all address ranges, then it adds all configured address ranges, even is some address ranges are not changed.
We want something a bit more fine grained.

[2021-07-15 09:28] meise opened #132 "Unable to destroy VM during first terraform destroy run: unexpected state 'RUNNING', wanted target 'DONE'"
### Error Description

In my terraform/OpenNebula combination it's not possible to destroy an opennebula_virtual_machine during first `terraform destroy` run. Terraform always fails with error message: `Error: Error waiting for virtual machine (546) to be in state DONE: unexpected state 'RUNNING', wanted target 'DONE'. last error: %!s(<nil>) (state: ACTIVE, lcmState: RUNNING)`. I have to run `terr

[2021-07-15 10:25] meise commented on #132
Added some more Debug output to module. The following values are evaluated:
`vmState: '3' == vm.Active: '3' && vmLcmState: '3' == vm.EpilogFailure: '40'`

[2021-07-15 12:02] jaypif commented on #132
Hi @meise ,

Thank you for your issue.

In the attached file I cannot see all the attempts while the default value for timeout is 3 minutes.
Is the destroy failing after 3 minutes or directly after the first 10 seconds ?

It looks like the VM is still active after the `terminate hard` command

Thanks

[2021-07-15 12:12] meise commented on #132
Thank you @jaypif for your quick response.

The destroy fails after 10 seconds. Maybe our cluster is just slower, compared to other users of the provider.
Is it possible to increase the wait delay in any way?

[2021-07-16 17:30] MEGrimshaw commented on #123
+1 Need this to access RNG & avoid entropy starvation on the VM's as OpenNebula doesn't currently support KVM RNG natively.

[2021-07-19 08:23] jaypif commented on #123
Hi,

Until the new section "RAW" is available you can still use the deprecated "template" section to deploy templates with `RAW` section.

Regards

[2021-07-20 12:06] ahmadalli opened #133 ""Unknown disk type" error when specifying template_id and image_id of disk"
I've been trying to prevent #97 using this resource:

[code]

but I'm getting this error:

I've also tried setting `target` and `driver` but it didn't fix it

[2021-07-20 12:23] ahmadalli commented on #133
my current workaround is I apply this template (I remove `image_id` from disk):

[code]

then I add `image_id` to it and run `terraform apply` again. Weirdly it'd update the `size` of image (from 0 to 10000) and then other `terraform apply` wouldn't result in any change

[2021-07-27 07:51] Th0masL commented on #63
Hello,

I can confirm that the Context Update on running VMs now works from the OpenNebula UI, but this does not works from Terraform.

Sadly I don't code in Go so I doubt I will be able to implement a fix for this problem.

[2021-07-27 16:23] MEGrimshaw opened #134 "Cannot Update Context Vars on running VM via Terraform"
When I go into the Sunstone UI I can update context variables & validate the change on the VM, however, when doing this via Terraform results in TF showing the change was successfully made, however that change isn't reflected either in the UI nor on the VM.

There's a similar (Open) issue here: https://github.com/OpenNebula/terraform-provider-opennebula/issues/63#issuecomment-826873026

However, t

[2021-07-27 17:07] MEGrimshaw commented on #134
Still digging into the code, but it appears as though in `func resourceOpennebulaVirtualMachineUpdate` there is nothing looking for changes to the context vars.  Name, Permissions, Group, Tags, Disk & Nic but not context.

[2021-07-27 18:40] jaypif commented on #134
Hi all

This issue is the same as #63.

You are right about the observed behavior for context attributes.
When the first release of the provider was developed it was not possible to "hot" update the context.
Since 5.10 release it is indeed possible but the provider was not updated.

I propose to close this issue and to continue on #63.

Thank you for your contribution.

Best regards

[2021-07-27 18:41] #134 closed, assigned to nobody

[2021-07-27 18:46] MEGrimshaw commented on #63
@jaypif Is there any guidance on the turn around time around this issue?
Thanks!

[2021-07-27 18:49] jaypif commented on #63
I cannot commit on an ETA as the maintenance of the provider is performed when we have some bandwidth to do it.

I hope it will be possible to have some time to take a deep view on it in the coming weeks.

I let you know.

Thanks

[2021-07-27 18:56] MEGrimshaw commented on #63
Thanks for the update @jaypif

[2021-07-28 15:34] treywelsh opened #135 "migrate to the v1 of the SDK"
Existing PR: #8
However The PR is no more up to date

[2021-07-28 15:53] treywelsh opened #136 "[Security group] warning"
The security group resource show an warning:

```[WARN] Error setting rule for Security Group 82, error: Invalid address to set: []string{"rule", "0", "Vector"}```

It tries to set unexpected elements

[2021-07-28 16:26] treywelsh opened #137 "Terraform `SDK v2` migration"
Overall, migrate to v2 would help us to improve the quality of the provider.

For instance, the v2 seems more strict and show us a lot of small problems that were tolerated before.
Currently it's common to have this kind of logs:
[code]

In addition, the v2 add more facilities.
For instance it adds theses kinds of [test helpers functions for sets](https://pkg.go.dev/github.com/hashicorp/terraform-

[2021-08-05 16:15] perrfect opened #140 "Create VROUTER"
Need to create vRouter via terraform.
But the argument **vrouter = "YES"**, from the issue #32 in **opennebula_template** resource doesn't work.
`│ An argument named "VROUTER" is not expected here.`

[2021-08-06 07:37] jaypif commented on #140
HI @perrfect

The issue #32 is the issue for the Vrouter feature.
It is not yet implemented as the feature is more complicated than expected so it took more time to implement.

I will close this one as it duplicates #32. I don't know when the #32 will be done.

Regards

[2021-08-06 07:37] #140 closed, assigned to nobody

[2021-08-12 21:45] treywelsh opened #142 "[Virtual machine] can't attach several NICs to the same network"
For now, due to the exclusive use of the `network_id` to compare NICs in some code parts, it's not possible to attach several NICs to the same network.

The equivalent issue for disks, i.e. not possible to have several NIC using the same image: #125

[2021-08-27 19:36] treywelsh opened #149 "[Virtual Data Center] error in logs"
[code]

[2021-08-27 19:47] treywelsh opened #151 "[Virtual network] attribute set with bad type"
The `reservation_vnet` attribute is Set as a string, but it's type is `TypeInt`

[2021-08-28 03:01] treywelsh commented on #137
EDIT: Finally, it seems that I'm able to migrate acceptance test for resources with complex nested schemas with small changes. We'll see if it's OK during the PR review

[2021-09-08 12:23] perrfect commented on #26
Hello.
How correctly use USER_INPUTS?
I do:
[code]
But I've got an error:
`Blocks of type "user_inputs" are not expected here.`

[2021-09-09 09:28] #123 closed, assigned to nobody

[2021-09-11 15:03] Th0masL opened #156 "Option for forcing VM to be recreated if Disk Image ID change"
**Description**

Currently, when we want to change the Disk's Image ID used by a VM, Terraform is simply updating the VM Disk ID, and it's doing a HotSwap of the VM Disk, making the VM crash, freeze or simply stops working correctly.

I believe this is because the Disk HotSwap functionality is not correctly supported by Linux, but it would be foolish to expect any OS to be able to handle HotSwap o

[2021-09-11 15:58] Th0masL opened #157 "Terraform is unable to start VM with Image ID 0"
**Description**

Terraform is unable to start a VM if the Image ID is the ID 0.

**To Reproduce**

The easiest way to reprocude is to install a fresh installation of OpenNebula, so there are no Images uploaded on the Datastore just yet. Then upload the very first Image (it should get ID 0) and then try to provision a VM with it with Terraform.

The VM will be broken.

**Expected behavior**

I'm ex

[2021-09-11 18:38] MEGrimshaw commented on #156
+1

[2021-09-13 07:41] jaypif commented on #156
Hi @Th0masL,

Thanks for this issue. It sound good. We never faces such issue on our side but you are right it can happens.
We will take a look how to implement thisas disk change management is quite complex to keep disk order.

My question is in case of several "disk" attache to a VM, if the "on_change" is not the same on several disk what should be done ?
IMHO, I propose to move the `on_disk_cha

[2021-09-13 07:56] jaypif commented on #157
Hi @Th0masL ,

Thanks for opening such issue. However we already faced this one and I thought we fixed it in 0.3.0.

We will take a look to check if there are remaining bugs.

I agree with you that OpenNebula object should never start at 0 but 1. It is the same for all other objects.

Regards

[2021-09-13 09:28] Th0masL commented on #156
Yes, I think you are right, it is reasonable to expect that this `on_disk_change` attribute should be defined at the VM level.

I think it would be quite complex to implement such functionality where there would be different `on_disk_change` attribute per multiple disks on the same VM.

[2021-09-13 09:31] #151 closed, assigned to nobody

[2021-09-13 09:57] jaypif commented on #156
OK great we will think about adding this attribute at VM level.

I can't give you an ETA. Hopefully in a couple of month as we ahve a bunch of issues coming in the 0.4.0 but we need to update ou CI to chack everything is fine.

[2021-09-13 10:12] Th0masL commented on #156
Thanks !

By the way, I would like to be able to help you and contribute more directly to the project, but I've been kinda struggling getting started with contributing because of lack of clear documentation about how to build things from source, how to enable debug/verbose messages, what are the requirements for the basic development setup, etc.

I'm not talking only about this Terraform Provider

[2021-09-13 10:44] jaypif commented on #156
Hi, contribution are always welcome and we alredy merge updates and fixes from lots of people.
Actuelly @treywelsh and I are not part of OpenNebula. We developped the provider for aour need and we worked closely with openNebula to make it official with Terraform.

In terms of development rules we follow Terraform guide lines and try to respect them as much as we can.
If you want to build the provi

[2021-09-13 11:12] Th0masL commented on #156
Sounds good, thanks for the information ! And thank you so much for your work on the Terraform Provider !

My company is starting to use OpenNebula and we definitely rely on the Terraform Provider to be able to provision our infrastructure.

I'm on the SRE/DevOps side of the stack, and I'm not so good with Go, so sadly I can't contribute as much as I would like to, but my company will soon allocat

[2021-09-13 20:24] spuder opened #158 "Add Datastore support"
Thank you for making this provider.

There currently does not appear to be a way to specify which datastore that the provider should use.

## API
https://github.com/OpenNebula/addon-nodejs

## CLI
https://github.com/OpenNebula/one/blob/master/src/cli/onevm#L608

## XML RPC
The variable is `ds_id`, if set to `-1` open nebula will automatically choose a datastore.

https://docs.opennebula.io/doc/5.8

[2021-09-14 00:02] treywelsh commented on #26
The user inputs part is not managed by the provider for now, but PR #154 will enable it

[2021-09-14 00:05] treywelsh commented on #158
Hi,

Thank you for you issue.

The [Placement section attributes](https://docs.opennebula.io/5.12/operation/references/template.html#placement-section) are partially concerned in issue #26 and associated PR #154.
`SCHED_DS_REQUIREMENTS` is just a part that I didn't already enabled.

I close this issue but feel free to drop a comment in #26

[2021-09-14 00:05] #158 closed, assigned to nobody

[2021-09-14 07:49] #131 closed, assigned to nobody

[2021-09-15 11:23] Th0masL opened #159 "Unable to destroy VM when in POWEROFF state"
**Description**

Terraform is unable to destroy a VM if its not in RUNNING state.

**To Reproduce**

Deploy a VM with Terraform, then power the VM off, and try to detroy it with Terraform.

**Expected behavior**

The VM should be destroyed.

**How to bypass the problem**

Start the VM, or delete it manually.

**Suggested fix**

The `destroy` action should not have to rely on the VM being in a spec

[2021-09-17 13:25] treywelsh opened #160 "[VM Group] vms changed outside of Terraform"
A [comment of an other issue](https://github.com/OpenNebula/terraform-provider-opennebula/pull/145#issuecomment-919164144) showed us a problem on the `vms` attribute of the virtual machine group resource.

Terraform version: 0.15.4 and higher
The report of plan/apply commands has been enriched, see the `NEW FEATURES` section of the [changelog](https://github.com/hashicorp/terraform/blob/v0.15.5/CH

[2021-09-20 12:56] treywelsh commented on #160
I reproduced it with v0.3.0 version of the provider.

It seems that terraform is right. Here is my current understanding of the problem:
[code]

The vmgroup is created first (dependency introduced by `vmgroup_id = opennebula_virtual_machine_group.test.id`) then read via the provider (with vms empty), then the VM is created and added to the VM group.
Now, the vms part of vmgroup is not empty on clo

[2021-09-21 13:11] #122 closed, assigned to nobody

[2021-09-22 16:29] Th0masL commented on #160
Interesting, nice finding !

And sorry for making you believe that this behavior was not happening with the version 0.3.0 of the provider. I guess I never really saw this behavior on v0.3.0 because I was always destroying and recreating VMs (due to the live Context Update not working), where I'm now updating running VMs with the new version of the Provider, that I built from the PR that add suppor

[2021-09-24 14:02] #125 closed, assigned to nobody

[2021-09-24 14:06] #149 closed, assigned to nobody

[2021-09-24 16:16] #142 closed, assigned to nobody

[2021-09-24 16:20] #136 closed, assigned to nobody

[2021-09-28 13:04] ahmadalli opened #162 "changing opennebula_virtual_network.type doesn't change VM_MAD of the vnet"
I'm using the version 3.0.0 of the provider. I've changed the type from `bridge` to `dummy` but the changes didn't apply on the cluster

[2021-09-28 15:23] treywelsh opened #163 "[groups][users] quotas changed outside of terraform"
Present in version: v0.3.0

Terraform version: 0.15.4 and higher
The report of plan/apply commands has been enriched, see the `NEW FEATURES` section of the [changelog](https://github.com/hashicorp/terraform/blob/v0.15.5/CHANGELOG.md#0154-may-19-2021)
This explain why we can see more diffs with recent versions of terraform that we didn't see before

Run an apply command, then a plan with:
[code]

W

[2021-10-01 12:40] jaypif commented on #162
Hi @ahmadalli

Can you share the terraform file before and after your change please ?
Thanks

[2021-10-01 12:48] #135 closed, assigned to nobody

[2021-10-01 13:13] #65 closed, assigned to nobody

[2021-10-02 13:25] ahmadalli commented on #162
before:

[code]
![image](https://user-images.githubusercontent.com/2167301/135718121-7de1fb21-6d49-481e-bc93-6f7cee8a801e.png)

after:
[code]

If I run terraform apply multiple times, it'd ask me to approve the change from bridge to dummy every time

[2021-10-02 23:40] Th0masL opened #165 "Cannot build from source anymore"
It seems like we cannot build from the current master branch anymore (master/2fd53ed).

I've tested to build both on MacOS and Ubuntu20

## On MacOS

1. Try to build the provider
[code]

2. Install goca
[code]

3. Try to build the provider again
[code]

4. Try (fail) to install `terraform/helper/schema`
[code]

## On Ubuntu20

1. Try to build the provider
[code]

2. Try (fail) to install `terrafor

[2021-10-04 09:31] jaypif commented on #162
Hi @ahmadalli

Thank you.
Indeed it is not possible for the moment to update the VN_MAD of a Virtual Network with the provider.
We can think to add this feature in a future release.

For the moment the ony way to to so is to destroy / recreate the virtual network.

PS: Event if we add this feature, if NIC are already attached to VMs while you modify the VNET `VN_MAD` it won't have effect on alread

[2021-10-04 09:35] treywelsh commented on #165
Sorry for this obvious error on master branch, PR #166 should fix this

[2021-10-04 09:44] treywelsh commented on #165
Merged into master

[2021-10-04 10:42] Th0masL commented on #165
Thanks, I can now build from source.

The new version of the plugin successfully pass `terraform init` and `terraform validate`, but does not pass `terraform plan`.

Here is the error :
[code]

One thing that looks strange is that terraform is showing the path of where I have cloned the github repo (`/Users/thomas/github/OpenNebula/terraform-provider-opennebula`), but I'm not running terraform com

[2021-10-05 18:31] treywelsh commented on #165
It's due to some type conversion errors introduced by #143.
I didn't reproduced it for now but here is a quick fix: https://github.com/treywelsh/terraform-provider-opennebula/tree/B-165
However acceptance tests may still fail, I'll work on it and propose a PR as soon as possible

By the way, thank you for your error reports

[2021-10-08 15:36] treywelsh opened #167 "master branch unstable"
After merging a lot of PRs with CI down and a lack of testing I introduced several problems: master branch didn't compile and acceptance test didn't pass anymore.
I fixed problems recently introduced in: virtual machine (around disk&nic management), virtual network address ranges

The goal of this PR is to restore master stability.

[2021-10-08 15:47] treywelsh commented on #165
I made a bit more generic issue to track recent master branch problems: #167
And a related PR to fix all at once:  #168

Feel free to test the PR branch, as usual all kind of feedback would be appreciated

I close this issue

[2021-10-08 15:47] #165 closed, assigned to nobody

[2021-10-14 10:52] Th0masL opened #169 "OS section is deleted when updating CONTEXT"
Hi,

I'm actively continuing my tests with the almost latest version of the master branch 😃

I'm currently using the branch `treywelsh:B-167`, which is the most up-to-date master branch that is working after the recent problems we had with building from master.

I found another possible problem : When running `terraform apply` to update the `CONTEXT` values of an existing VM, the `OS` values are d

[2021-10-14 17:05] treywelsh commented on #169
Related to #145

Context update should be tested via virtual machine acceptance tests, I'll need to check why I didn't see this...

It seems that I didn't understood how the `one.vm.updateconf` XML-RPC method works, [described here](https://docs.opennebula.io/5.12/integration/system_interfaces/api.html#one-vm-updateconf).

I thought that I could pass only the updated sections when modified but thi

[2021-10-15 16:38] treywelsh commented on #169
Here is a try to fix this behavior: #171
To facilitate the test I pushed the same branch, but rebased on top of B-167 to avoid all other knowns problems:  [B-169-fix-vm-config-update-rebased](https://github.com/treywelsh/terraform-provider-opennebula/tree/B-169-fix-vm-config-update-rebased)

Feel free to give it a try

[2021-10-19 12:17] Th0masL commented on #169
Hi ! Sorry for the late answer.

I've just rebuilt from the branch `B-169-fix-vm-config-update` and tried to update context.

Both `OS` and `GRAPHICS` are still getting deleted, so unless I did something wrong, the problem is still here

[2021-10-19 12:59] treywelsh commented on #169
It's a bit confusing, but I made a second branch rebased on top of B-167 to allow you to test all at the same time:  [B-169-fix-vm-config-update-rebased](https://github.com/treywelsh/terraform-provider-opennebula/tree/B-169-fix-vm-config-update-rebased)

[2021-10-19 13:06] Th0masL commented on #169
My bad, I misread, sorry ! I'll try this new branch

[2021-10-19 14:00] Th0masL commented on #169
Well, so with the branch `B-169-fix-vm-config-update-rebased` the context update are not working anymore.
It's the same behavior as the current release 0.3.0, where it shows that the Context need to be updated, and it's saying that it got updated successfully, but nothing is in fact changed on the VM.

[2021-10-19 16:03] treywelsh commented on #169
It works for my tests (add/remove/update context element). Do you have something to help me reproduce the problem ?
I'm using the provider built on top on B-169-fix-vm-config-update-rebased with terraform 0.15.5.
I use minione with Opennebula 5.12.0.4.

[2021-10-19 16:28] Th0masL commented on #169
I'm using the latest version of OpenNebula (6.0.0.2) and the latest version of Terraform

I'll try to enable some more debug to give you more details, but not sure it will help

[2021-10-21 14:01] Th0masL commented on #169
Ok so I've been doing some more testing.

I was able to run `terraform apply -destroy` and recreate everything with `terraform apply`, but then when I try to update the context values the command exit with an error.

Please find below the detailed logs :
## Preparing
[code]

Result of terraform plan/show :
[code]

Result of terraform apply :
[code]

[2021-10-21 14:15] Th0masL commented on #169
I have opened another ticket following this syntax error (which is only happening with this new version of the provider) : https://github.com/OpenNebula/terraform-provider-opennebula/issues/172

[2021-10-22 10:15] treywelsh commented on #169
Seems due to some quote problems in the template we try to send to OpenNebula:
[code]

[2021-10-22 10:25] Th0masL commented on #169
The thing that is strange is that with the current template that I have, I can run `terraform apply --destroy` to destroy all the VMs, and then run `terraform apply` to recreate them all.

It only throw this error when I update the values of the Context in the template and I re-run `terraform apply`.

And as you can see, the value I update is pretty simple :
[code]

[2021-10-22 12:32] treywelsh commented on #169
It's due to how I managed things internally I retrieved the whole template, updated it, then submit it to updateconf method.
To fix this I'll try to filter only relevant sections (listed in doc) before the update to avoid noise due to other attributes.
I just added a commit on top of `B-169-fix-vm-config-update-rebased` branch to fix this, you can give it a try

[2021-10-22 13:16] #56 closed, assigned to nobody

[2021-10-25 11:21] Th0masL commented on #169
Hi ! I've just tried and everything seems working fine now. Good job !

[2021-10-26 16:29] rockpapergoat opened #175 "merging/updating tags and context metadata"
not sure if this has already been addressed in the master branch. i'm using the public 0.3.0 release of this module for now in a wrapper module. these are setup as locals:

[code]

is this conf update addressed in #145 ?

i basically need to set default values for things but allow overriding via map merging for users to include arbitrary metadata. the terraform `merge()` function yields the desire

[2021-11-03 16:15] treywelsh opened #176 "[VM group] data source schema"
It seems that some mandatory fields are not defined in the data source schemas, so when the provider try to read them from the resource read method, we got an error:
[code]

[2021-11-08 15:49] christian7007 opened #178 "Service Template not working with OpenNebula > 5.12"
`TestAccServiceTemplate` test is failing when testing the provider against OpenNebula version > 5.12:

[code]

The complete error can be found [here](https://github.com/OpenNebula/terraform-provider-opennebula/runs/4140792742?check_suite_focus=true).

[2021-11-10 10:58] treywelsh opened #179 "[user] data source require password"
The user data source require the password, this force the user to paste it in the tf file. We may want to change this to at least make it optional.

[2021-11-10 13:43] #167 closed, assigned to nobody

[2021-11-10 19:24] rockpapergoat commented on #175
i'll close this after figuring out the proper use of locals and merging. is this the best place to get feedback/help? the open nebula forum has been kind of dead. where is the community?

[2021-11-10 19:24] #175 closed, assigned to nobody

[2021-11-10 19:51] ahmadalli opened #183 "multiple ar in opennebula_virtual_network"
I've tried adding another `ar` to the `opennebula_virtual_network` while terraform shows it as new item, it'll then errors that the previous ar is in use indicating that it's trying to remove it

[2021-11-11 23:21] danhigham commented on #156
All, please see my pull request (https://github.com/OpenNebula/terraform-provider-opennebula/pull/184) for a potential solution.

[2021-11-12 16:27] treywelsh commented on #175
It's the right place to get some help around the OpenNebula terraform provider.

I understand your frustration, I'm one of the maintainers but I work for an other company and I didn't answer you because at first glance, I'm not enough confident with terraform higher level stuff like modules and functions.
It would take me more time than usual to answer you and I'm already working to add new capabi

[2021-11-15 22:13] rockpapergoat commented on #175
thanks for your answer and working on the provider. i think the ecosystem could really use solid terraform/provisioning support.

[2021-11-16 10:01] #159 closed, assigned to nobody

[2021-11-16 10:04] #176 closed, assigned to nobody

[2021-11-16 11:53] #160 closed, assigned to nobody

[2021-11-19 10:16] perrfect opened #186 "Public cloud in opennebula template"
Hello.
I need use AWS provider in a opennebula template.
But the block of type "PUBLIC_CLOUD" doesn't work in terraform.
Іs this option supported?

[2021-11-19 11:09] jaypif commented on #186
HI,

I don't understand your need.
AWS provider is AWS provider. It is useful to manage AWS infra and service directly on AWS. It can't be use inside OpenNebula.

Do you mean you want to manage AWS resource via OpenNebula and in that case you need to deploy EC2 instances instead of VM on KVM or vcenter ?

Can you share more details on your need please ?

Thanks

[2021-11-19 12:04] perrfect commented on #186
Hi, thank you for your reply.
I want to create hybrid template and to be able to create ec2 instances via Opennebula.
For that Opennebula has **Amazon EC2 Driver**

[code]

When I use this driver in template via Opennebula GUI everything is fine, but when i use **public_cloud** in terraform i get an error.

`│ An argument named "public_cloud" is not expected here.`

[2021-11-19 12:55] jaypif commented on #186
Hi,

Indeed this is not supported for the moment.

I can't give you an ETA about this yet.

[2021-11-19 13:04] #169 closed, assigned to nobody

[2021-11-19 13:04] #179 closed, assigned to nobody

[2021-11-23 08:55] ahmadalli opened #187 "opennebula_template context update doesn't change anything"
I've updated the `context.SSH_PUBLIC_KEY` section of my `opennebula_template` and it applied successfully but it didn't actually update the context of my template on the opennebula

[2021-12-01 08:59] yerrysherry commented on #187
Indeed, I have the same problem.

Also, the documentation is wrong.

  context  {
    NETWERK = "YES"
  }

$ terraform validate
╷
│ Error: Unsupported block type
│
│   on modules/main.tf line 16, in resource "opennebula_template" "ontwikkel":
│   16:   context  {
│
│ Blocks of type "context" are not expected here. Did you mean to define argument "context"? If so, use the equals sign to
│ assign it

[2021-12-02 18:32] #115 closed, assigned to nobody

[2021-12-27 22:29] maartendq opened #189 "Error creating LDAP user"
Trying to create an ldap user (using auth_driver ldap and leaving out the password) gives the following error:

Error: OpenNebula error [INTERNAL]: [one.user.allocate] Invalid password, it cannot be empty.

opennebula version: 5.12.8

[2022-01-03 17:51] jaypif commented on #189
Hi,

Thanks for your issue and sorry for the late answer.

Actually the issue is not on the provider but in the API from OpenNebula. The call `one.user.allocate` expect a password even for `ldap` driver while it is not necessary in that case.

I opened an issue on github to check with them if a fix can be done for 5.12 release: https://github.com/OpenNebula/one/issues/5676

Best regards

[2022-01-04 10:38] treywelsh opened #190 "[groups] users changed outside of terraform"
When adding an user to a group, after the apply, the plan show a diff.

To reproduce:
[code]

Here is the diff at plan:
[code]

[2022-01-04 10:48] treywelsh commented on #190
Seems due to the fact that we modify the group resource via the user resource (that we add in the group via `primary_group = opennebula_group.group.id`.).
The user is added after the group creation and then after the read operation of the group so the user is not present in the tfstate.

In the current implementation group and user resource are interdependant, we should manage group membership in

[2022-01-04 12:56] maartendq commented on #189
Thanks for looking into this! Will follow up on the ONE issue

[2022-01-05 10:14] maartendq opened #192 "`opennebula_virtual_network_address_range`: Add support for IPAM driver"
In opennebula you can define an IPAM driver (at creation only) in the address range of a virtual network.
Is it possible to add this to the virtual network resource in terraform?

[2022-01-11 15:55] #163 closed, assigned to nobody

[2022-01-11 17:04] #190 closed, assigned to nobody

[2022-01-12 21:23] epolovina opened #195 "opennebula_service_template - whitespace changes force replacement"
When entering json for a template/extra_template, whether it is in Terraform's EOT syntax, json file, terraform template or jsonencode, terraform will always result in changed whitespace and force a replacement of the service

Following the example in https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/service_template

Provider Version: v0.3.0
Terraform Version: 1.

[2022-01-12 22:11] epolovina opened #196 "FILES_DS '\"' is unescaped"
Some of our templates use FILES_DS in the context field and they contain something like
[code]

Terraform plan works as expected but when doing apply the following error results:
[code]

Temporary fix is to manually override the context field and escape the '\\' accordingly
[code]

[2022-01-20 18:47] wolfff commented on #31
This bug hit me again, today. Running still 0.3.0 of the opennebula provider with Terraform v1.1.4 against opennebula 6.2.0-1.ce.  Creating resources fail according to tf, but like the original report, the resource is created in one and on further plan applies treated as 'tained'. Setting depends_on for the vm requiring the virtual network resource does not solve it.

So any news on this ?

[2022-01-23 18:18] wolfff commented on #31
Actually, when following the idea to insert debug statements in the code of the provider, I finally detected that the issue was caused in the function changeVmGroup as I have passed a `group =` arg to the opennebula_virtual_machine resource definition which does not exist. After removing that group attribute, creation of the farm succeeded.
So I guess error handling should be improved, so that alr

[2022-01-24 08:46] ahmadalli commented on #133
this has been resolved in version 0.4.0

[2022-01-24 08:46] #133 closed, assigned to nobody

[2022-01-24 18:01] jaypif commented on #31
Hi @wolfff

Oh that's really good to know and I am really sorry about this issue you are facing about.

The group attribute is here to precise the group which should own the VM. If it is not specified it keeps the terraform user's primary group.

Usually if the group does not exist an error is raised.

We will take a look about improving the error handling here.

Thanks

[2022-01-25 09:45] jaypif opened #199 "Bad error handling for Change resource group"
Error handling is not clear enough for all resource change group functions.
It raise err from Terraform but it is not clear enough.

[2022-01-25 09:47] jaypif commented on #31
Hi @wolfff

I opened #199  to follow the error handling issue.
It might help you about the issue you faced here but I am not sure it answer the original issue opened by @mateusmuller and investigated by @puppetmaster

[2022-01-26 06:14] vast0906 opened #201 "can i use terraform to snapshot-revert vm?"
hello,  i want to snapshot-revert vm, I looked at the [terraform providers OpenNebula documentation](https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine)
and looked the [opennebula documentation](https://docs.opennebula.io/5.12/integration/system_interfaces/api.html#onevm) , but not found use terraform to snapshot-revert vm.
can you help me?

[2022-01-26 10:45] treywelsh opened #202 "[datasource][template] Invalid address to set"
In #154 I added attributes, but I didn't make the read step conditional for those that are not described in the data source so I got this error:
[code]

[2022-01-26 10:57] #26 closed, assigned to nobody

[2022-01-26 10:58] treywelsh commented on #4
See PR #170 for a vrouter resource integration proposal

[2022-01-26 11:04] #27 closed, assigned to nobody

[2022-01-26 11:16] treywelsh opened #203 "[resource][datasource][virtual network] no ar field cause crash"
When no AR are defined for the virtual network resource, or if we use a datasource (which has no `ar` field) the provider crash at read step.
Acceptance test should be updated to cover this case

Introduced by #141

[2022-01-26 11:43] treywelsh commented on #201
Hi,

The quick answer is: no, you can't do this for now.

Long answer:
The provider doesn't allow to manage all operations. There is not even a snapshot resource.
For now we try to implement all "first level" resources and make them more convenient to use.

Even if it's possible, I don't know if it would be a good idea or not to manage snapshots and all related operations via terraform, this is a

[2022-01-26 11:48] #201 closed, assigned to nobody

[2022-01-26 11:58] treywelsh commented on #183
Yes the 0.3.0 release of the provider try to remove all ARs, then re-add ARs.
It's a bit violent and we tried to improve this in the 0.4.0 release of the provider via #141

We still need to add some bug fixes the the 0.4.0 that we consider as a beta version but you can test it.
I close this issue for now but if you see any problem with the AR update from the 0.4.0 release feel free to open a new i

[2022-01-26 11:58] #183 closed, assigned to nobody

[2022-01-31 14:30] treywelsh opened #205 "[resource][vm] attributes update errors"
The problem is present in the 0.3.0 and still here in 0.4.0 releases.

To reproduce, create the VM applying this with the 0.4.0 release of the provider:
[code]
Then modify a value from the `tags` section and apply again:
[code]
It's due to the fact that the provider send the `sched_requirement` element with the value `"CLUSTER_ID!="123""`.
Double quotes are not escaped anymore.

The provider manag

[2022-02-03 17:45] #195 closed, assigned to christian7007

[2022-02-03 17:47] #203 closed, assigned to treywelsh

[2022-02-03 18:28] #202 closed, assigned to treywelsh

[2022-02-04 16:32] #205 closed, assigned to treywelsh

[2022-02-07 08:20] Cookiiiies opened #212 "[Resource][vm] Resize (CPU, vCPU, Memory)"
If I change CPU, vCPU or memory the changes are recognized by terraform but not proceeded by the opennebula provider.
From my point of view this feature isn't implemented yet.

e.g. assume we have the following applied via terraform apply:
[code]
and afterwards we change it to #
[code]
Result:
[code]
But the provider will not resize the VM. It will only update the terraform state with the updated

[2022-02-08 10:53] #199 closed, assigned to jaypif

[2022-02-08 16:36] treywelsh opened #213 "[resource][image] changed outside of Terraform"
Provider: 0.4.0
Terraform: from 0.15.4

After applying a VM disk resize a diff appear at plan in terraform:
[code]
It's due to the fact that the resize of the disk also resize the image, so we have inter resource relationship.
The `computed_size` was introduced by issue #104  PR #124 in 0.4.0 release

[2022-02-08 16:55] treywelsh commented on #213
The `computed_size` attribute was introduced to let the user know the image size on cloud side. The current image `size` attribute only allow the user to set a size manually and has `ForceNew` behavior so it should be handled with care.

Don't know how to fix this. I'm not even sure that I should consider this as a bug.
I don't know any tool in terraform SDK to manage inter ressource relationship.

[2022-02-09 11:55] treywelsh commented on #213
Until we find a better solution, I'll revert #124 for 0.4.1 to avoid unwanted diffs

[2022-02-11 10:07] treywelsh opened #215 "[resource][vnet] add AR make crash"
Provider: 0.4.0

There is a crash when adding an AR to a virtual network:
[code]
Then add and apply again:
[code]

Result:
[code]

Introduced by #141

[2022-02-14 09:25] #215 closed, assigned to treywelsh

[2022-02-17 10:29] treywelsh opened #219 "[datasource][template] invalid address to set"
Template data source may fail if some attributes are defined inside the template on cloud side.
To reproduce we just have to define a datasource for an existing template:
[code]

For instance, a template with `SCHED_REQUIREMENTS` tag key defined couldn't be used through a data source.
I suspect the problem to be the same with: `SCHED_DS_REQUIREMENTS`, `DESCRIPTION`.

Introduced by #154

[2022-02-17 10:37] treywelsh opened #220 "[resource][template] template update"
For a template resource it's possible to add a new key, to update an existing key, but it's not possible to remove a key. This is easily visible playing with the content of the `tags` section.

This problem has been identified in #218

Note: in case it helps, the VM `user_template` section management has been reworked in #206

[2022-02-18 09:19] Cookiiiies commented on #220
I played a little bit around but it seems that in first instance not the `resourceOpennebulaTemplateUpdate` is the problem. It's seems like the provider didn't recognize at all that there are changes. But I couldn't identify the code that lead to this problem. The `resourceOpennebulaTemplateRead` and `resourceOpennebulaTemplateExists` seems to work.
In first instance, I thought it's related to the

[2022-02-18 11:00] treywelsh commented on #220
As you can see I just submitted a PR with additional details. It works to delete a key but it still needs to be tested to ensure that there is no other problems.

You may be confused in your test due to a mix of problems in the provider, and design decision that you may be not aware of.
I don't know how you are testing the provider so I'll show you how I'm doing.

By the way, you may need to under

[2022-02-18 11:17] treywelsh commented on #220
I spotted an other problem, also similar to the one I fixed in the VM template in #206
Make the same test of my comment above, but replace the sched_requirements with:
[code]
If you play with tags keys, this error should occur:
[code]
It's an escaping problem in the provider due to the double quote chars. I'll update #222 accordingly.

[2022-02-18 13:47] Cookiiiies commented on #220
thank you @treywelsh  for your detailed answer. I did it in a similar manner.

I did the following to check/test:
`terraform apply`: (will create new)
[code]

`terraform apply`: (update)
[code]
After the update, the resource in opennebula still exists with all the attributes (inside ui; will test with api soon)

[code]

So nothing seems to change. I don't know if this is something regarding to my

[2022-02-18 14:18] treywelsh commented on #220
My PR won't fix all of this, we need to add update code per key to remove them.

There is still some missing parts in the code that may seems obvious, but we didn't wrote it from scratch and it means that we just didn't need to delete these keys until now. I work in a company that use the provider in it's own way so we didn't make an inventory of all missing parts. When we see/needs something we i

[2022-02-19 17:00] luanmateuz opened #224 "[vm creation] Error when create vm's with terraform"
Hi guys,
I have a problem every time I try to create virtual machines in opennebula using terraform this error happens:

[code]

This problem even makes the services of opennebula stop shortly after, right after I restart the services, the virtual machines appear running.

I've already tested the version providers:
- 0.3.0
- 0.4.0
- 0.4.1

The installed version of OpenNebula is 6.2.0 (Community Ed

[2022-02-21 07:56] w1llrock opened #225 "[virtual_networks] impossible to add new AR"
Hi, when I try to add a new AR range, I get an error:

opennebula_virtual_network.vlan500: Modifying... [id=1]
╷
│ Error: OpenNebula error [INTERNAL]: [one.vn.rm_ar] Address Range has leases in use
│
│   with opennebula_virtual_network.vlan500,
│   on networks.tf line 19, in resource "opennebula_virtual_network" "vlan500":
│   19: resource "opennebula_virtual_network" "vlan500" {
│
╵
ERRO[0008] 1

[2022-02-21 09:10] jaypif commented on #225
Hi,

The error says `Address Range has leases in use` it means you try to update an existing Address range with IP already in use in it not adding a new one.

Can you share the entire network resource configuration please ?

Thank you

[2022-02-21 09:33] w1llrock commented on #225
Default configuration for network resource:

resource "opennebula_virtual_network" "vlan500" {
  name            = "10.145.70.0_vlan500"
  type            = "802.1Q"
  guest_mtu       = 1500
  clusters        = [100]
  bridge          = "br500"
  physical_device = "bond0"
  mtu             = 1500
  vlan_id         = "500"
  dns             = "10.145.70.254"
  gateway         = "10.145.70.1"
  secu

[2022-02-21 10:05] jaypif commented on #225
Hi @w1llrock

In the relase 0.3.0 adding an AR (or updating an existing one) is not well manage: We delete all AR to recreate them. That is why you are facing an error because you have IPs used in the first Range.
You are right, what you want to do works fine in CLI / Sunstone.

This is a know issue fixed in the 0.4 release of the provider. This release is in Beta test, the last RC is 0.4.1. You c

[2022-02-21 10:16] w1llrock commented on #225
Hi Jaypif
I'll try to test the 0.4 version and wait for the new release.
Thanks for the information!

[2022-02-21 10:16] #225 closed, assigned to nobody

[2022-03-01 17:43] treywelsh opened #226 "datasources read method"
Until now, each datasource share the resource read method, which led to this kind of problems: #219, #203, #202, #176
I quickly fixed the resource read method in adding a test per attribute, but this is not a good fix. In the future we should avoid that and rework the data source instead.
At least some reading parts should be mutualized for maintenance, but we should add a read method per data sou

[2022-03-01 18:28] #219 closed, assigned to treywelsh

[2022-03-01 18:40] treywelsh commented on #224
Reading this, I'm not sure that the provider is faulty, here is the error:
[code]
It's an error at a the network level (provider use XML-RPC protocol with HTTP to communicate with ONE).
Maybe that your services crash first, for an other reason, and then the provider can't reach ONE anymore ?

[2022-03-07 16:32] treywelsh opened #227 "Add `opennebula_cluster` resource and data source"
Clusters are not managed by the provider.

[2022-03-07 21:52] kepi opened #228 "Creating user as group admin for created group - chicken/egg problem?"
Hi,

I'm not sure if I'm missing something obvious, but I want to create new user and group in OpenNebula. And set that new user as admin for created group.

From documentation, only possibility seems to be something like this:

[code]

But problem is, that:

1. I can't create user with primary group which doesn't exist.
2. And I can't create group with admin which doesn't exist...

I tried to wor

[2022-03-08 08:42] jaypif commented on #228
Hi,

You are right you cannot create 2 resources which need each other to work. You need to perform this in 2 steps.
We decided to remove the "users" part because of this cyclic redundancy.

In your case, the best way is to do this in two times:
1. Create the user
2. Create the group with previous user as admin and update the primary group of this user.

We will take a llok deeper in a best way to

[2022-03-08 20:03] kepi commented on #228
By two-times you mean two terraform directories, two states etc? That would be beating all pros of terraform, but I'll probably try that as workaround until better way is found.

I have no deep knowledge of either OpenNebula or Terraform, but some more thinking about this more, I still believe that `group_admin_for` (or some better name like `admin_for_groups` maybe) in `opennebula_user` can be wo

[2022-03-09 13:01] jaypif commented on #228
By 2 times I mean

1. Create the user (1st apply)
2. update the TF file to add the group, add previous user as admin and set this group as primary for the user (2nd apply)

Hope this is clear.

[2022-03-10 09:33] #220 closed, assigned to nobody

[2022-03-22 19:30] carlosjsanch3z opened #230 "Compatibility darwin_arm64 (Apple Silicon M1)"
Hi!

Is there any intention to add support for the **darwin_arm64** architecture in future versions?

Error:
[code]
Thanks,
Greetings.

[2022-03-23 09:46] jaypif commented on #230
Hi,

Thank you for opening this issue.
We will take a look to build a release for this architecture.

I keep you updated

[2022-03-23 14:29] jaypif commented on #230
Should be fixed by #231

[2022-03-23 16:50] jaypif commented on #230
HI @carlosjsanch3z

We deployed a new release of the provider 0.4.3 (same as 0.4.2) with darwin ARM 64 compatibility

Can you confirm this is OK for  you ?

[2022-03-23 17:13] carlosjsanch3z commented on #230
Hey @jaypif,

I can confirm that it now works correctly :)

Thank you very much for the quick solution.

[2022-03-23 17:22] jaypif commented on #230
Excellent. Thanks

[2022-03-23 17:22] #230 closed, assigned to nobody

[2022-04-01 15:12] rockpapergoat commented on #196
@epolovina in your example here, does the `$FILE` portion get evaluated/expanded to some value?
`FILES_DS = "$FILE[IMAGE=\\\"file.sh\\\", IMAGE_UNAME=\\\"oneadmin\\\"]"`

i need to do roughly the same thing. in templates that folks have manually created, the `$FILE` variable appears as typed. when i applied my terraform to create templates and such, the value ends up evaluated. does that seem righ

[2022-04-07 13:40] peterloeffler opened #233 "Template: Add FEATURES section and DEV_PREFIX attribute to DISK section"
We have the use case to add the FEATURES section as well as add the DEV_PREFIX attribute to DISK section.
I created a branch https://github.com/peterloeffler/terraform-provider-opennebula/tree/add_features_section_and_dev_prefix_disk_attribute that seems to handle this.
Would it be ok to make a pull request here to get this into the master and in the next version?
Is there something to do it in a

[2022-04-08 10:37] treywelsh commented on #233
Feel free to open one or more pull requests.
If you want to add a lot of things unless it's almost the same code for several attributes, instead of a huge PR, please open several issues and PRs to split your work, this will be easier for us to work with. It's not a problem to have several issues or PRs if it's justified.

Don't forget in your PRs to update the documentation, CHANGELOG, and if poss

[2022-04-08 15:42] #226 closed, assigned to nobody

[2022-04-08 18:01] erypolovina commented on #196
That seems right.

[2022-04-08 19:14] treywelsh opened #235 "[resource][VM][template] add missing code parts"
Attributes `cpu`, `vcpu`, `memory` are not read or updated for VM and template resources.
These attributes are not updated for template resource, for VM resource, there is an issue and a PR about resizing: #212

[2022-04-12 09:58] christian7007 opened #239 "[resource][VM] Error when updating a volatile disk"
Acceptance tests are failing wit the error below, because no default value is defined for `volatile_format` attribute:

[code]

I think the problem is in the `volatile_format` definition, as no default value is set but the validate function will fail if the value is not include in `validtypes`, hence it will fails when the value is empty:

[code]

[2022-04-12 12:24] treywelsh commented on #239
To give a bit more of details on this issue, currently the CI repository don't fail on this test, how did you see this one ?

[2022-04-12 13:51] christian7007 commented on #239
I'm able to reproduce it for OpenNebula 6.2.2 EE. I think the oneflow bug is masking this in the CI tests.

[2022-04-14 11:56] #156 closed, assigned to nobody

[2022-04-19 13:55] frousselet commented on #228
Hello,

I think the idea @kepi mentioned of creating a new resource `opennebula_group_admins` (with a 's') is the good approach:

[code]

With this option, the `admins` attribute from `opennebula_group` should be flagged as `DEPRECATED`.

Added in the 0.5.0 milestone.

[2022-04-20 08:20] #4 closed, assigned to nobody

[2022-04-21 21:28] frousselet opened #247 "Add support for IPv6 address information"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-22 07:33] frousselet commented on #113
Hello @CRASH-Tech,

Provisionning images is not on the scope of Terraform.
The best tool to do this is [Packer](https://www.packer.io). There is no official support yet but you can open an issue on [One](https://github.com/OpenNebula/one) to discuss about an OpenNebula plugin.

Thanks.

[2022-04-22 07:33] #113 closed, assigned to nobody

[2022-04-22 12:16] #228 closed, assigned to treywelsh

[2022-04-22 12:55] treywelsh opened #248 "[resource][`opennebula_group`] `template` attribute"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-22 13:05] frousselet commented on #248
This is a very (very) good proposal! 🤩
Thanks for the clear explanations and investigation!

[2022-04-22 16:11] frousselet opened #249 "Resource `opennebula_group`: Deprecate attribute `delete_on_destruction`!"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-22 16:28] frousselet opened #250 "Improve CI/CD pipelines"
**_DRAFT_**

[2022-04-22 16:50] treywelsh commented on #250
If you mean the CI failure for ONE 6.2, this should be related to #178

[2022-04-23 06:47] bsanders opened #252 "Data source `opennebula_security_group` fails to find security groups that were created by other users"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-23 06:49] bsanders commented on #252
tl;dr: I have a trivial fix and would be happy to make a PR, but wanted to see if this was an intentional change?

[2022-04-23 08:13] frousselet commented on #252
Thanks for reporting this @bsanders and for the investigation. I didn't find any PR or issue mentioning a change about this, so seems you can create a PR!

[2022-04-24 17:11] treywelsh commented on #252
It's not only related to security group resources:
There is a set of resources that use filter flags (VM, template, vnet, vnet templates, vmgroup, images and some others), they are described in [xml-rpc ONE doc (here 5.12 release) for some pool info calls](https://docs.opennebula.io/5.12/integration/system_interfaces/api.html)
[code]
\+ ID range parameters
I we modify the parameters for one resour

[2022-04-24 18:31] bsanders commented on #252
Oh, good point. Yeah that seems like something we'd also hit eventually. I'll take a look tomorrow AM (PDT) and see where else this might also be happening.

[2022-04-26 14:01] #249 closed, assigned to frousselet

[2022-04-27 00:12] #189 closed, assigned to nobody

[2022-04-27 00:12] #117 closed, assigned to nobody

[2022-04-27 00:12] #118 closed, assigned to nobody

[2022-04-27 04:24] bsanders opened #254 "Terraform plugin sdk is out of date?"
While investigating #252, I noticed that this code currently pins 1.7.0 of the hashicorp terraform plugin sdk.  It appears that the 1.x series is EOL (no bugfixes, etc) [0].  Is that on the team's radar?  Are there any plans for moving that forward?  I'm pretty new to golang/terraform, so I'm not entirely clear how much of a lift that would be.  I know there was mention of some refactoring being d

[2022-04-27 08:05] frousselet commented on #254
Hi @bsanders,

Migration to `SDK v2` is planed for the 0.5.0 release.
Please refer to #137 (issue) and #161 (PR) for updates.

If you want to work directly with the `SDK v2`, you can pull the branch `treywelsh:sdk-migration-v2` and merge your PR on it.
Or you can stay on `SDK v1` for now and we will migrate it to `SDK v2` then.

Thanks.

[2022-04-27 08:27] #248 closed, assigned to nobody

[2022-04-28 00:11] #101 closed, assigned to nobody

[2022-04-28 00:11] #34 closed, assigned to nobody

[2022-04-28 00:58] bsanders commented on #252
I opened a PR in https://github.com/treywelsh/terraform-provider-opennebula/pull/9 on top of the sdk2 branch there to address this issue, as well as others that are currently implemented by this code base and also take filterflags.  Explanation is over there.

I am going to attempt to do some manual testing with it, but didn't see any existing unit testing in data_opennebula* files, so I'm not qui

[2022-04-28 12:29] #254 closed, assigned to nobody

[2022-04-28 12:45] frousselet commented on #121
Hello @Yenya,

This is not the role of Terraform.
A better way to do this is to use environment variables (after being generated outside of terraform):

[code]

[2022-04-29 06:58] peterloeffler commented on #233
pull requests opened:
https://github.com/OpenNebula/terraform-provider-opennebula/pull/242
https://github.com/OpenNebula/terraform-provider-opennebula/pull/237

[2022-04-29 12:16] treywelsh opened #256 "inconsistent go versions"
go versions are not consistent across files in the repository:

For instance:
go.mod: `go 1.13`
ci.yaml: `go-version: 1.14`
release.yml: `go-version 1.17`

For information, the SDK rely on a go release, [see the CHANGELOG](https://github.com/hashicorp/terraform-plugin-sdk/blob/main/CHANGELOG.md):
 - since 2.14.0: `This Go module has been updated to Go 1.17 per the Go support policy. Any consumers

[2022-04-29 13:37] treywelsh commented on #239
Looking at #242 comments, it seems that I was too confident and too fast in merging #240 PR, apologies.

For more context:
Volatile disks
- were added by PR #155
- [are documented here for the 5.12 ONE release](https://docs.opennebula.io/5.12/operation/references/template.html#disks-section)

I just made a test against ONE 5.12 with a minimal VM with a disk attached to an image via the `image_id`

[2022-04-29 15:57] #137 closed, assigned to treywelsh

[2022-04-29 17:12] treywelsh commented on #254
#161 was just merged, we now use the SDK v2.10.1, you can work on top of master now

[2022-04-29 17:22] bsanders commented on #254
Thanks @treywelsh!

[2022-04-29 20:23] bsanders commented on #252
So I started doing some manual testing and ran into this:

[code]

This is pretty trivial to reproduce:

[code]

This sample snippet works on .4.3

Any thoughts?  If I'm interested in doing further feature development on this provider, is there somewhere I should be looking for breaking changes?

[2022-04-29 20:37] treywelsh commented on #252
Look at https://github.com/OpenNebula/terraform-provider-opennebula/issues/239#issuecomment-1113320722
The changes that introduced this problems were reverted by #257 so please rebase your work on top of master, this should work

[2022-05-01 00:11] #31 closed, assigned to nobody

[2022-05-02 10:16] treywelsh commented on #239
This seems due to the fact that when using a volatile disk with the attribute `volatile_type` defined, but without `volatile_format` attribute defined, the `volatile_format` is set by default by ONE to `raw` (`volatile_format` has only Optional behavior).
So the provider read the value, set it in `volatile_format`. But the user hasn't defined this attribute so the provider see a diff and want to m

[2022-05-06 09:28] frousselet commented on #178
Hi @christian7007, @treywelsh, @jaypif,

I don't understand the status on the `OpenNebula>5.12` acceptance tests.
Could you clarify what changes need to be done in order to fix it please?

**Related:**

#188
https://github.com/OpenNebula/one/commit/c440bc9af7de36d3da2746401ce7c59c0f4c7bfc

Since the next LTS will be released soon, we might want to prioritize this issue.

I created the label [`need

[2022-05-06 12:11] treywelsh commented on #239
#260  merged

[2022-05-06 12:11] #239 closed, assigned to christian7007

[2022-05-09 12:45] #233 closed, assigned to nobody

[2022-05-09 13:27] frousselet opened #263 "`opennebula_virtual_network`: Terraform says read-only `id` and `computed_mac` changed outside of Terraform"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-09 20:44] leagueofsoups opened #264 "vm with multiple disks"
Hello. I attach the file below

- every `terraform apply` will create new vd* disk
- when uncomment `target           = "vdb"` on disk description, and remove `dev_prefix   = "vd"` from opennebula_image.img_data resource, second `terraform apply` return error.

It looks like there is an idempotency problem
The problem is reproduced on OpenNebula 6.2.0 ce

[code]

[2022-05-09 21:01] frousselet commented on #264
Hello @leagueofsoups,

Thanks for submitting this issue.

Could you provide a `terraform plan` output please?
Also, when you said _'every `terraform apply` will create new vd* disk'_, did you mean destroy/recreate in place or duplicate?

_'when uncomment target = "vdb" on disk description, and remove dev_prefix = "vd" from opennebula_image.img_data resource, second terraform apply return error.'_

[2022-05-10 11:26] frousselet opened #265 "Add support for ONE 6.4 LTS"
**_DRAFT_**

- [ ] Fix acceptance tests (see [workflow](https://github.com/OpenNebula/terraform-provider-opennebula/runs/6367607770?check_suite_focus=true))

[2022-05-10 12:41] leagueofsoups commented on #264
Hello @frousselet,

Thanks for your reply.

When I use manifest from my first post:
[code]

[code]
Terraform will create new disk every time, when `terraform apply`
For example:
[code]
result:
![image](https://user-images.githubusercontent.com/41836635/167627089-29179aad-00f5-430e-8c08-eacdbb5f0a67.png)

When uncomment `target = "vdb"` on disk description, and remove `dev_prefix = "vd"` from openn

[2022-05-10 13:32] treywelsh commented on #264
Thank you for your detailed report it really helps, and sorry for this obvious error

Here is an early feedback, I didn't try all cases you mention:
I'm able to reproduce an unexpected diff on `volatile_format` attribute with my current env:
TF: 0.15.5
Provider: 0.4.3
ONE: 6.2.0

After the apply, at plan I get:
[code]

It tried again but this time I built the provider on top of master branch (we'r

[2022-05-10 13:51] treywelsh commented on #264
To give a bit more informations on my current understanding of the problem:
Before merging #260, the `volatile_format` key was read everytime.
When I introduced volatile disk (for context, they were introduced by PR #155) I didn't expected the attribute `volatile_format` to have a value even for non volatile disks. (In OpenNebula virtual machine template, for a disk, the attribute name is `FORMAT`

[2022-05-10 15:41] frousselet commented on #178
As seen with @christian7007,

The pipeline [works](https://github.com/OpenNebula/terraform-provider-opennebula/runs/6367787890?check_suite_focus=true) (excluding API changes) with OpenNebula `>=6.3.90`.

- The `6_2` pipeline will be dropped once `6.4` is released
- The `5_12` pipeline will be dropped once `5.12.12 'Firework' EE LTS` is officially flagged as end-of-life

[2022-05-10 16:42] frousselet opened #266 "Fix Virtual Network acceptance tests for OpenNebula 6.4"
[code]

[2022-05-10 16:43] #265 closed, assigned to nobody

[2022-05-10 21:16] leagueofsoups commented on #264
Hello @treywelsh
I can't reproduce problem after rebuild provider from current master branch.
The description of the problem disk looks like this:
[code]
It seems that the issue can be closed, because it is not reproduced in the 0.5.0 version of the provider.
Thank you very much for your help!

[2022-05-11 16:15] #178 closed, assigned to christian7007

[2022-05-11 17:16] #264 closed, assigned to nobody

[2022-05-13 13:55] treywelsh commented on #266
PR #258 fix the acceptance test for ONE 6.4 in way that is not dependant of the OpenNebula version.
However, fails could still happens:

Here is the error ([see full logs](https://github.com/OpenNebula/terraform-provider-opennebula/runs/6423719416?check_suite_focus=true)) :
[code]
I suspect this error to be a race condition due to virtual network state changes.

We need to provider a better 6.4 in

[2022-05-16 19:25] treywelsh opened #267 "Depreciate `timeout` attributes from `opennebula_virtual_machine` and `opennebula_image` and use built-in Terraform SDK features"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-19 11:05] treywelsh opened #268 "Multiple resource tags problems"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-19 11:11] treywelsh opened #269 "improve code to match SDK v2 standards"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-20 12:21] #196 closed, assigned to nobody

[2022-05-20 12:21] #266 closed, assigned to treywelsh

[2022-05-20 20:48] #250 closed, assigned to frousselet

[2022-05-23 06:27] god7trong commented on #187
I have the same problem.

[2022-05-23 06:50] god7trong opened #271 "The context don't add and don't update after create vm"
I am create vm with parameters:

[code]

After that I add a field context:
[code]

After: terraform apply (Changes have been added and successfully applied)

### But these changes were not reflected in the virtual machine in Opennebula

### But it is no longer possible to update variables or add a new variable.

[2022-05-23 09:32] #32 closed, assigned to nobody

[2022-05-23 10:41] #121 closed, assigned to nobody

[2022-05-23 15:45] #235 closed, assigned to nobody

[2022-05-23 15:45] #212 closed, assigned to nobody

[2022-05-23 21:21] treywelsh opened #276 "[resource][ACL] manage zone"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-24 07:49] frousselet opened #278 "Fix code scanning alert - Incorrect conversion between integer types"
Tracking issue for:
- [ ] https://github.com/OpenNebula/terraform-provider-opennebula/security/code-scanning/1
- [ ] https://github.com/OpenNebula/terraform-provider-opennebula/security/code-scanning/2
- [ ] https://github.com/OpenNebula/terraform-provider-opennebula/security/code-scanning/3
- [ ] https://github.com/OpenNebula/terraform-provider-opennebula/security/code-scanning/4
- [ ] https://gi

[2022-05-24 14:53] frousselet opened #279 "Introduce `opennebula_address_range`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-24 15:32] treywelsh commented on #279
I just checked, the [add_ar XML-RPC method](https://docs.opennebula.io/6.0/integration_and_development/system_interfaces/api.html#one-vn-add-ar) doesn't returns the AR ID, but the network ID. It's a bit annoying.

We'll need to retrieve the AR from the list to be able to read the AR_ID value.

[2022-06-01 12:37] #268 closed, assigned to treywelsh

[2022-06-02 14:21] #276 closed, assigned to nobody

[2022-06-02 21:55] frousselet opened #281 "Remove `computed_*` attributes"
#### `opennebula_virtual_machine`

Deprecate and create new one without a prefix:

- [ ] `template_nic.computed_ip` -> `template_nic.ip`
- [ ] `template_nic.computed_mac` -> `template_nic.mac`
- [ ] `template_nic.computed_model` -> `template_nic.model`
- [ ] `template_nic.computed_virtio_queues` -> `template_nic.virtio_queues`
- [ ] `template_nic.computed_physical_device` -> `template_nic.physical

[2022-06-08 15:16] frousselet opened #283 "Running plan or apply without setting the provider should return an error"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-10 08:55] Alvise88 opened #284 "Upgrade from 0.4.3 to 0.5 cause data template not found"
If in terraform code is present something similar to:

[code]

upgrading to 0.5.0 throws this error message: no template match the tags

The function that trigger the issue is: https://github.com/OpenNebula/terraform-provider-opennebula/blob/dcca64db21443704e941cba928b5bbcb66aef1d8/opennebula/data_opennebula_template.go#L64

[2022-06-10 09:50] treywelsh commented on #284
Thanks for reporting this.

This was introduced by PR #229 (issue #226), in which I reworked all datasources.
This is probably due a template that doesn't define some fields among `cpu`, `vcpu`, `memory` (the code supposed that they have to be defined).
I'll push a PR soon to fix this

[2022-06-10 13:30] frousselet opened #287 "`opennebula_template` data source: Add filter attributes `has_cpu`, `has_vcpu` and `has_memory`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-13 16:21] treywelsh commented on #278
EDIT:

All the errors are about type casting from `int64` to `int`.
I'm asking myself it I could just propose a quick fix for ParseInt, ParseUint methods:

My understanding of the `int` type behavior:
```The int, uint, and uintptr types are usually 32 bits wide on 32-bit systems and 64 bits wide on 64-bit systems.```

And from the [ParseInt documentation](https://pkg.go.dev/strconv#ParseInt):
[cod

[2022-06-13 16:25] treywelsh commented on #278
Downside: provider may not work on 32 bits systems, but in a cleaner way (i.e. would raise an expected error)

[2022-06-14 12:15] treywelsh opened #289 "VM NICs are not attached anymore"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-15 07:15] peterloeffler opened #291 "add disk attributes (DEV_PREFIX, CACHE, DISCARD, IO)"
We need the following disk attributes for our production environment:
- DEV_PREFIX
- CACHE
- DISCARD
- IO

There is a pull request to implement this: https://github.com/OpenNebula/terraform-provider-opennebula/pull/242

[2022-06-15 07:17] peterloeffler opened #292 "add network attributes (NETWORK_ADDRESS, SEARCH_DOMAIN)"
We need the following network attributes for our production environment:
- NETWORK_ADDRESS
- SEARCH_DOMAIN

There is a pull request to implement this: https://github.com/OpenNebula/terraform-provider-opennebula/pull/272

[2022-06-15 09:45] treywelsh commented on #263
This happens when creating the resource with the 0.3.0 release of the provider, then making a plan with a higher release (currently 0.4.3 and 0.5.0).
From 0.4.x releases new attributes have been introduced, I think it's why terraform show this diff.

In addition, the diff shown above is under the section `Note: Objects have changed outside of Terraform`
Then below:
[code]
So this shouldn't trigger

[2022-06-15 09:48] frousselet commented on #263
I close this issue since `ar` will be deprecated on the 1.0.0 (see #279).

[2022-06-15 09:48] #263 closed, assigned to nobody

[2022-06-15 15:08] treywelsh commented on #132
I reproduced the problem in delaying the terminate action (I put it in a goroutine that start with a big sleep of 10 sec minimum).
The goal was to keep the VM in the `RUNNING` state to simulate slow OpenNebula setup, and see what happened at first
 `waitForVMState` check.

At first glance, in the implementation of `waitForVMState`, there is two interesting fields:
[code]
From the doc:
`Delay`: Wai

[2022-06-16 15:13] danimo opened #293 "Regression: specifiying a nic creates a configuration that no longer fetches any IP"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-16 15:28] treywelsh commented on #293
Thanks for this detailed report. It's a duplicated of #289 and it seems that we agree on the faulty commit.
However I'm surprised that CI acceptance tests didn't fails....

I close this one to track the problem in #289

[2022-06-16 15:28] #293 closed, assigned to nobody

[2022-06-16 15:34] frousselet commented on #293
Issue should be addressed in 0.5.1 (released early July).

[2022-06-17 11:07] danimo opened #294 "[resource][VM] Update from 0.4.3 state resets disk in 0.5.0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-17 11:24] danimo commented on #293
Thanks, sorry for not spotting https://github.com/OpenNebula/terraform-provider-opennebula/issues/289 erlier.

[2022-06-21 08:07] frousselet opened #296 "Remove deprecated attributes before `v0.4.0`"
According to #295, following deprecated attributes have to be removed:

- [ ] `r`/`opennebula_virtual_network.hold_size`
- [ ] `r`/`opennebula_virtual_network.ip_size`
- [ ] `r`/`opennebula_virtual_machine.instance`

[2022-06-21 09:07] frousselet opened #297 "Remove deprecated attributes before `v0.5.0`"
According to #295, following deprecated attributes have to be removed:

- [x] `r`/`opennebula_group`/`delete_on_destruction`
- [x] `r`/`opennebula_group`/`template`
- [x] `d`/`opennebula_group`/`quotas`
- [x] `d`/`opennebula_template`/`context`
- [x] `d`/`opennebula_template`/`graphics`
- [x] `d`/`opennebula_template`/`os`
- [x] `d`/`opennebula_user`/`auth_driver`
- [x] `d`/`opennebula_virtual_net

[2022-06-22 21:39] #278 closed, assigned to nobody

[2022-06-23 08:40] #283 closed, assigned to nobody

[2022-06-24 08:20] frousselet opened #299 "Add `opennebula_datastore` resource and data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-24 12:21] #267 closed, assigned to nobody

[2022-06-24 12:21] #269 closed, assigned to nobody

[2022-06-24 14:13] frousselet opened #300 "Add `opennebula_host` resource and data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-25 00:09] #47 closed, assigned to nobody

[2022-06-26 00:11] #162 closed, assigned to nobody

[2022-06-26 00:12] Th0masL commented on #157
Has this been fixed ? As far as I'm aware the problem is still present

[2022-06-26 13:04] frousselet commented on #157
Sorry for the delay.
This bug will be fixed on the `0.5.2` version if we manage to reproduce it.

Did you get it on other version than `0.3.0`?

[2022-06-26 13:22] Th0masL commented on #157
No worries, the workaround is pretty easy so it's not a big blocker.

Talking about trying to reproduce it with a version newer than `v0.3.0`: I tried to upgrade to `v0.5.0` but I had to rollback to `v0.3.0` due to this regression https://github.com/OpenNebula/terraform-provider-opennebula/issues/289, so I can't test just yet.

[2022-06-28 00:10] #213 closed, assigned to nobody

[2022-06-28 00:10] #111 closed, assigned to nobody

[2022-06-28 10:03] treywelsh opened #304 "attributes should be set even if empty"
In the provider code there is some reading code parts like this:
[code]
This is why we didn't see the bug reported in #289 in the acceptance tests (all tests passes, even if NICs are described in TF but not attached on cloud side)...
When not set, the elements of the TF files are copied in the state and we see no diff at next plan.
I fix the NIC case in #289, but it remains some other cases to che

[2022-06-28 10:04] treywelsh commented on #289
#304 explains why we didn't see the problem via the acceptance tests

[2022-06-28 12:11] #289 closed, assigned to treywelsh

[2022-06-28 12:44] #284 closed, assigned to treywelsh

[2022-06-30 08:41] #132 closed, assigned to nobody

[2022-07-01 12:06] johannwagner commented on #294
I tracked this down and I am pretty sure that this PR https://github.com/OpenNebula/terraform-provider-opennebula/pull/260 introduced the issue. I am currently working on a fix - hopefully without breaking the PR.

[2022-07-01 12:52] johannwagner commented on #294
I provided a proposed fix for this problem.

[2022-07-01 13:20] johannwagner commented on #294
I want to firmly describe the problem here:

In Terraform v0.4.3, `volatile_format` gets set in the terraform state by reading it from the OpenNebula cluster even it is not allowed to be set since `image_id` is declared. In v0.5.0 this behaviour changes and it only gets set to a value, if you specified a value in this field beforehand, e.g. setting it in `*.tf` files.

This results in a state chan

[2022-07-03 00:11] #224 closed, assigned to nobody

[2022-07-05 09:13] Alvise88 commented on #284
Hi,

even with 0.5.1 i hit the same issue,: looking at the new code i really don't understand why, could it be the "name" case ?

I'am not able to define data for:

1. data "opennebula_virtual_network"
2. data "opennebula_template"

defining only the name attribute, the same works with 0.4.3

My OpenNebula version is 6.0.2

[2022-07-05 11:44] treywelsh commented on #284
For virtual network I have a `Error: failed to get MTU attribute`
Is this the error you got ?

For the template datasource, could your provide the error message, and to help me to reproduce the problem providing the content of the  template you use (if possible) ?

[2022-07-05 15:09] Alvise88 commented on #284
No, in both cases i got `no virtual <type-name> match the constraints`. I'am sure both resources exists

[2022-07-05 15:40] treywelsh commented on #284
For now I'm not able to reproduce an other problem that the virtual network error stated above.

It would be nice to have additional elements to reproduce (steps, template content, tfstate...), it may help

[2022-07-05 17:45] treywelsh commented on #157
With the 0.3.0 release of the provider I have this error:
```Error: OpenNebula error [INTERNAL]: [one.vm.allocate] DISK 0: Unknown disk type```

I don't have any error with 0.4.3 and 0.5.1 releases.
#289 has been fixed and is part of 0.5.1 which has been released. Feel free to drop a comment If you reproduce the problem.

[2022-07-06 12:03] Alvise88 commented on #284
Cloning the template and becoming the owner permits to resolve the template; in other words if the template has different owner it is not resolved

[2022-07-06 17:19] danimo opened #309 "[v0.5.1] Regression with multi-line context entries"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 00:12] Th0masL opened #311 "Allow support for marking a specific Context Variable as absent (not creating it)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 09:07] frousselet commented on #311
Hi Thomas,

I'm not sure the provider should manage this, but maybe OpenNebula yes.

In the meantime, what you can do is transform your context before using it. I tried something like this (it's not perfect at all):

[code]

[code]

François

[2022-07-08 10:50] danimo opened #312 "[0.5.1] import and refresh populate fields with invalid "null" value"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 11:37] danimo opened #313 "[0.5.1] Adding a second NIC crashes tf apply"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 14:16] frousselet commented on #313
Hello @danimo,

Thanks for pointing this out.

Could you include the `TF_LOG=TRACE` output please? We are not able to reproduce this issue on our side.

Many thanks.

[2022-07-08 15:14] danimo commented on #313
@frousselet with a newly created VM we cannot reproduce it either. The state that caused the error originally was left from a 0.5.0 setup (or even older). Someone from my team will get back to you once we get to reproduce this.

[2022-07-08 15:28] treywelsh commented on #309
This is due to PR #270, in which we updated the goca dependency to retrieve 6.4 OpenNebula changes.

Among other changes, the OpenNebula issue that modified the goca behavior regarding character escaping is https://github.com/OpenNebula/one/issues/5785

The change is in `String()` dynamic template method which escape now much more characters

[2022-07-08 15:51] frousselet commented on #294
This issue is due to the 0.4.3 (where we had it at each plan/apply), the 0.5.0 fixes this.

The only workaround we have is editing the tfstate manually between the two versions during the migration. It's not perfect but it will work.

[2022-07-09 08:06] Th0masL commented on #311
Hey François !

Thanks a lot for your suggestion !

The workaround you suggested can totally work for me, so I'll take that as a valid solution to my problem.

I also believe that you are right in saying that it would probably make more sense for this kind of logic to be included in Terraform itself and not in this provider.

I'll open a suggestion on the Terraform GitHub repo.

Thank you and have

[2022-07-09 08:06] #311 closed, assigned to nobody

[2022-07-10 19:18] leagueofsoups opened #314 "empty computed_ip field"
Hello, guys. I use external DHCP for my vm's with bridge interface, like this:
[code]
After start, I login via VNC and check internet access (START_SCRIPT directive working fine), VM have ip address
but `terraform output -json` show empty computed_ip
I'm not sure if this is the expected behavior

[2022-07-11 08:23] Th0masL opened #315 "Terraform fails to terminate VM stuck in PENDING state"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-11 15:20] #109 closed, assigned to frousselet

[2022-07-11 15:22] treywelsh commented on #157
Hi @Th0masL

Did you try to reproduce this problem from the 0.5.1 release of the provider ?

[2022-07-11 19:08] treywelsh commented on #309
Issue opened to the one repository: https://github.com/OpenNebula/one/issues/5914

[2022-07-11 19:41] #315 closed, assigned to nobody

[2022-07-12 18:11] treywelsh commented on #284
It may be the same problem that mentioned in #252 for the template, in brief OpenNebula XML-RPC pool methods (have "visibility" parameters).
If it's the same problem, feel free to drop a comment in the issue.

I'll fix the virtual network problem I saw in an other PR.

[2022-07-13 15:18] #304 closed, assigned to nobody

[2022-07-25 11:52] Th0masL commented on #157
I can confirm that the problem is fixed with the more recent version of the provider, thanks !
I'm closing this issue.

[2022-07-25 11:52] #157 closed, assigned to nobody

[2022-07-27 00:11] #74 closed, assigned to nobody

[2022-07-27 00:11] #63 closed, assigned to nobody

[2022-07-28 14:08] treywelsh opened #318 "introduce `opennebula_disk`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-29 00:09] #271 closed, assigned to nobody

[2022-07-29 00:09] #187 closed, assigned to nobody

[2022-07-29 15:14] treywelsh commented on #186
It seems there was some changes around `PUBLIC_CLOUD` in the documentation: in 6.4 OpenNebula documentation `PUBLIC_CLOUD` doesn't seems to be documented anymore:

- [see 5.12 ONE doc](https://docs.opennebula.io/5.12/search.html?q=PUBLIC_CLOUD&check_keywords=yes&area=default)
- [see 6.4 ONE doc](https://docs.opennebula.io/6.4/search.html?q=PUBLIC_CLOUD&check_keywords=yes&area=default)

This change

[2022-08-01 14:48] treywelsh opened #320 "introduce `opennebula_nic`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-02 11:35] frousselet commented on #320
What do you mean by `# we won't be able to update this nic later`? (Same question for #318)

[2022-08-02 13:57] treywelsh commented on #320
I mean it's possible to create this VM with a list of NICs **attached at creation**, but we won't be able to update them later (i.e. change NIC attribute values, to remove them...).
I mean we won't be able to update unless we try some more complex manipulations like import the disk resource, or even modify the state directly.
Same idea for the disk, we want to keep the capability to create a VM wi

[2022-08-02 14:33] treywelsh commented on #186
@perrfect @frousselet @christian7007 regarding my last comment, and if I'm right, what should we do with this ?

- Does anyone used these features from the 6.0 release of OpenNebula ?
- is this issue still in the scope of the provider ? (is it still possible from XML-RPC via custom attributes etc. to act on public clouds ?)

If I have time I'll take a look but any other input is welcomed

[2022-08-02 14:42] treywelsh commented on #186
Some definitions:
[code]

It seems that provider management rely on "meta"-resource document (which has some XML-RPC methods):

- https://github.com/OpenNebula/one/blob/master/src/cli/one_helper/oneprovider_helper.rb
- https://github.com/OpenNebula/one/blob/master/src/cli/one_helper/oneprovision_helper.rb

I still don't clearly see how all of this works. Anyway, It seems to me that this issue is n

[2022-08-03 12:34] #309 closed, assigned to nobody

[2022-08-06 20:19] ghost opened #322 "Get VM template by regexp and most_recent"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-08 13:00] frousselet commented on #322
Thanks for the suggestion.

In the AWS AMI case, the `most_recent` attribute is useful since an AMI is versioned, which is not the case with an OpenNebula template.

So with this regex attribute you will get an array of templates. Maybe we can add an attribute to choose what key is used to order the array?

But anyway, if the `data` can return more than one attribute (which is a use case of a rege

[2022-08-08 16:33] frousselet opened #324 "Add `default_tags` section in the `provider` block"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-09 19:57] ghost commented on #322
Hi @frousselet!
Thanks for reply. Yes, I mean that searcing by regex can return more than one `opennebula_template` - in our case `opennebula_templates`.
And, I think, that `most_recent` can be ordered by `Registration time`, i.e. last uploaded template

[2022-08-10 07:40] frousselet commented on #322
Hello,

So we can think about something like this:

[code]

Then you can select the first result of the array.

@treywelsh, what do you think?

[2022-08-10 19:06] bsanders commented on #252
I'm picking this back up, but being new to go and terraform plugins I'd like some help testing.  I have access to an otherwise unused opennebula cluster, which it seems like I need to run the plugin testing.  How do I actually run the tests?

In the opennebula directory, I tried:

```OPENNEBULA_ENDPOINT=https://blah/RPC2 OPENNEBULA_USERNAME=admin OPENNEBULA_PASSWORD=<password> OPENNEBULA_FLOW_ENDP

[2022-08-11 18:01] bsanders opened #328 "Skip TLS verification for self-signed certs"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 18:06] bsanders commented on #328
The diff is small, but obviously this just hardcodes to always skip TLS verification, which is 100% not good.  If the project is interested in this feature, I would need to know where you want to enable/disable it.  Off the top of my head, you'd want an environment variable.  Maybe a config option in the provider section of the .tf file?

[code]

[2022-08-11 18:31] frousselet commented on #328
Hi Bill,

Thanks for pointing this out.

So I guess we can consider something like below?

[code]

I add this to the 1.0.0 milestone.

[2022-08-11 20:09] bsanders commented on #328
Yeah, that was sort of what I was imagining as well.  If that looks good to you, I'll look into it.

[2022-08-16 19:53] bsanders commented on #252
Any thoughts on the testing?  Maybe I should open a separate issue, but it's not exactly a bug...

[2022-08-17 13:58] frousselet commented on #318
As seen, the user should manually manage the VM state after a disk change.
This can be managed by Terraform by using a `null_resource` with an RPC API call.

Deprecate #156 `on_disk_change`.

**Example:**

_main.tf_

[code]

_scripts/restart_vm.py_

[code]

[2022-08-18 14:53] treywelsh commented on #252
You need to have a provider section defined in one of your files:
[code]

[2022-08-18 22:26] bsanders commented on #252
@treywelsh Apologies, I meant the unit tests.

I'm assuming I don't need a .tf file to run those?

`OPENNEBULA_ENDPOINT=https://blah/RPC2 OPENNEBULA_USERNAME=admin OPENNEBULA_PASSWORD=<password> OPENNEBULA_FLOW_ENDPOINT=https://blah TF_ACC=1 go test`

[2022-08-19 08:13] frousselet commented on #252
Hello,

Tested on my side. Your command works but it seems you have an authentication issue.

[2022-08-19 16:38] OpenNebulaSupport opened #330 "SCHED_REQUIREMENTS and SCHED_DS_REQUIREMENTS are set to null after the VM has been deployed"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-19 16:38] OpenNebulaSupport opened #331 "data sources with use flag on OTHER permissions cannot be read"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-23 14:31] treywelsh commented on #330
We could do something similar to the existing `template_disk` and `template_disk` sections, i.e. keep a kind of `template` section inside of the `virtual_machine` resource that don't conflict with the VM attributes.

By default, the attributes of the `template` section would be used. But If the user override some attributes in the virtual_machine  descriptions these last ones would be used.
The in

[2022-08-23 15:06] OpenNebulaSupport commented on #330
Does this mean that
- on the first `terraform apply`, the SCHED_REQUIREMENTS and SCHED_DS_REQUIREMENT gathered from the template referenced by `template_id` would be exported as attributes
- on the 2nd `terraform apply` those attributes would not change because they were previously exported whereas before, they weren't ?

[2022-08-23 16:17] treywelsh commented on #330
I'm not sure I was clear so just to be sure we understand the same thing, some more details:

There is a diff because the `SCHED_REQUIREMENTS` is defined in the template but is not defined in the virtual machine resource (in the TF file).
The inheritance of `SCHED_REQUIREMENTS` is done on cloud side at VM instantiation and the provider is not aware of that.
Then terraform reads the datas on cloud

[2022-08-23 16:33] OpenNebulaSupport commented on #330
So the named `template_tags` section would be used to flag which attributes bypass the diff, unlike manually setting said attribute with a prefixed value on the resource definition, for example `sched_requirements = "FREE_CPU > 60"`. Is this correct ?

[2022-08-23 17:05] treywelsh commented on #330
yes, this would allow to bypass the diff in the case of this issue.
It's not perfect but I don't know any tool in the terraform SDK to manage inter resources relationships inside the provider to handle this.

An other way to remove the diff would be to copy manually the attribute from the template tf description to the VM description but I'm not satisfied with this solution

[2022-08-23 17:26] OpenNebulaSupport commented on #330
Okay, seems reasonable. Thanks a lot for the detailed explanation.

[2022-08-24 12:50] treywelsh commented on #331
At first glance this problem is valid for all datasources and resources that use XML-RPC pool info methods that have some "visibility" parameters.

See #252

[2022-08-25 10:15] #292 closed, assigned to nobody

[2022-08-25 10:37] #291 closed, assigned to nobody

[2022-08-25 13:48] #328 closed, assigned to nobody

[2022-08-25 14:14] #296 closed, assigned to nobody

[2022-08-25 15:38] #279 closed, assigned to nobody

[2022-08-25 15:45] frousselet commented on #192
Documentation: https://docs.opennebula.io/6.4/integration_and_development/infrastructure_drivers_development/devel-ipam.html

[2022-08-30 00:11] #313 closed, assigned to nobody

[2022-08-30 00:11] #294 closed, assigned to nobody

[2022-08-31 12:29] treywelsh opened #339 "improve code quality"
Some tracks:

- split files among packages (no need to prefix/suffix to avoid name collisions etc.)
  Then, split in several files inside a package
- rename misnamed resource file template_vm_group
- Some issues propose to remove attributes, or to split "sub"-ressources (disk, nic...) which could greatly simplify the code
- Maybe less code sharing: some code is shared across these resources: templ

[2022-09-02 08:32] #287 closed, assigned to nobody

[2022-09-02 12:29] #330 closed, assigned to nobody

[2022-09-02 16:20] #324 closed, assigned to nobody

[2022-09-05 13:40] frousselet opened #340 "Cannot change `default_tags`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-09 13:38] #340 closed, assigned to treywelsh

[2022-09-10 10:36] Prakharkarsh1 commented on #322
Hii @ghost i want to contribute to fix this issue

[2022-09-10 12:44] deynekoaa commented on #322
Hi @Prakharkarsh1!
It will be great, if you can fix this issue

[2022-09-12 10:23] Th0masL opened #342 "Static NICs settings not saved into statefile since v0.5.0 cause re-creation of NICs and failure"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-16 10:26] treywelsh opened #343 "`opennebula_user`, `opennebula_group`: Changing name has no effect"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-20 12:40] frousselet opened #345 "Fix `default_tags` documentation"
In the documentation, the `default_tags` attribute is not well documented.

[code]

[2022-09-20 13:11] #345 closed, assigned to frousselet

[2022-09-22 06:52] #320 closed, assigned to nobody

[2022-09-22 06:53] #318 closed, assigned to nobody

[2022-09-26 12:45] #343 closed, assigned to treywelsh

[2022-09-27 09:17] frousselet opened #352 "TypeLists reordering on apply for some attributes"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-29 00:18] #314 closed, assigned to nobody

[2022-09-30 08:18] #352 closed, assigned to nobody

[2022-10-01 00:17] #252 closed, assigned to nobody

[2022-10-03 12:43] #339 closed, assigned to nobody

[2022-10-03 12:54] frousselet commented on #322
Hello @Prakharkarsh1,

Sorry for the late reply.
It would be great if you can contribute.

This issue probably apply to other data sources.

[2022-10-04 14:42] DoomProger opened #355 "Template GetPair: key GROUP_DN not found"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-10 16:22] thijsvandergugten opened #356 "Automated tests for importing templates"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-11 10:13] frousselet opened #358 "`opennebula_group`: Add `opennebula` section"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-11 10:16] frousselet opened #359 "`opennebula_group`: Add `template_section` attribute for custom template sections"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-11 16:53] frousselet commented on #342
Hello,

Looks like you are using a static IP outside of the address range.
Since Terraform fails, it tries to recreate the NIC each time it is applied.

[2022-10-12 09:10] treywelsh commented on #358
[The related documentation](https://docs.opennebula.io/6.4/management_and_operations/users_groups_management/manage_groups.html#group-wise-configuration-attributes)

[2022-10-12 09:17] treywelsh commented on #227
Cluster documentation: https://docs.opennebula.io/6.4/management_and_operations/host_cluster_management/cluster_guide.html

It seems there isn't much of specific attributes sections for a cluster. At least a cluster may have overcommitment attributes.

On the other hand, there is a bunch of pages of documentation around edge cluster but I didn't find any specific attribute documented. For instance

[2022-10-12 09:28] #227 closed, assigned to nobody

[2022-10-12 15:46] treywelsh commented on #359
I should first test each resource dynamic template section behavior: I'm not sure that they all have the exact same behavior regarding key duplication etc.

What should we do if there is several template sections with the same name, return an error or add a filter step based on the `objects` content ?

[2022-10-13 08:24] treywelsh commented on #358
Deprecating the template field added a bunch of regressions, the goal of this issue is to try fixing one of them: we are not able anymore to pass custom vectors to a template resource. It's why it's now tagged as a bug

[2022-10-17 09:27] frousselet commented on #355
Hello,

`template` is deprecated and you may have to use the [`ignore_change`](https://www.terraform.io/language/meta-arguments/lifecycle#ignore_changes) lifecycle to prevent conflicts with the `sunstone` attribute.

[code]

By the way, `delete_on_destruction` is deprecated too since it was causing drift and you should use the [`prevent_destroy`](https://www.terraform.io/language/meta-arguments/li

[2022-10-17 15:18] thijsvandergugten opened #364 "Uppercase versus lowercase in documentation / unit-tests"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-22 11:31] #256 closed, assigned to nobody

[2022-10-24 08:29] #358 closed, assigned to nobody

[2022-10-25 11:04] Th0masL commented on #342
I don't think so, because the previous run of `terraform apply` was able to create the VM correctly, and the second runs fails with the error above.

I will try again to confirm the behavior, and provide debug logs if needed

[2022-10-25 12:42] Th0masL commented on #342
I have just verified one more time.

Here is the steps:

1. In our `.tf` file, we hardcode a static IP provided as variable
2. Run `terraform destroy` to destroy everything and start with a clean state
    - everything get deleted correctly
3. Run `terraform apply` to recreate the infrastructure
    - everything get created correctly, the VMs has the right static IP and is working fine
4. Run `ter

[2022-10-25 12:58] Th0masL commented on #342
I've verified in the terraform state file, and the `nic` attribute is empty, that's why it's trying to re-add the NIC at every `apply`:

[code]

[2022-10-25 13:03] Th0masL commented on #342
And if I compare with the output of a terraform state file that has been created with an earlier version of the provider  (v0.4.3), the `nic` attribute is defined :

[code]

[2022-10-25 13:20] Th0masL commented on #342
I just tried with the latest version of the provider (v1.0.1), and the `nic` attributes are also empty in the Terraform state file, so this problem seems to still be here with the latest version

[2022-10-25 13:45] Th0masL commented on #342
I also tried with the provider version v0.5.0, and the `nic` attribute is also empty in the state file.

So to me it looks like the problem happened somewhere between the version v0.4.3 and v0.5.0.

[code]

[2022-10-26 07:43] #297 closed, assigned to nobody

[2022-10-27 09:37] frousselet commented on #342
Hello Thomas,

Thanks for the details.

We were able to reproduce it and we are investigating on the issue.

[2022-10-27 12:12] treywelsh commented on #342
Seems to be due to the fact that you describe a NIC with the `security_group` attribute filled (this makes the bug appear. Without this field I see no diffs, feel free to confirm this on your side).

OpenNebula adds the default security group (ID: 0) to every NIC, but the provider didn't expect that and thought that the NIC wasn't attached due to the diff with it's initial configuration.

I still

[2022-11-02 12:28] DoomProger commented on #355
Thank you, lifecycle block helps.

Please consider this in the next release, as the [documentation ](https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/group)does not say anything about this feature.

I think this issue can be closed.

[2022-11-03 14:28] #342 closed, assigned to treywelsh

[2022-11-05 09:24] satyamuralidhar commented on #364
+1

[2022-11-09 12:43] jaket91-1 opened #369 "v1.0.2 always shows changes - adds template_tags"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-09 14:36] treywelsh commented on #369
Did you compiled the 1.0.2 release ?
The 1.0.2 doesn't seems available in the registry: https://registry.terraform.io/providers/OpenNebula/opennebula/

And just to be sure, all the steps you show were made with the 1.0.2 release of the provider ? (or did you create the resource with the 0.4.3 ? )
You mentionned a version upgrade in the `Steps to Reproduce` section.

[2022-11-09 15:28] jaket91-1 commented on #369
- We have a local provider configured and simply copied the zip files from the 1.0.2 release to our local copy.

- Good point, should have said. Yes, the resources were created with version `0.4.3` of the provider.

[2022-11-14 14:23] ps-beilers opened #370 "opennebula_template and opennebula_image datasources not working anymore after upgrade provider ppgrade"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-15 13:15] treywelsh commented on #370
I reproduced the problem for the template datasource, we already discussed around this problem (in #349 around `hasXXX` flags handling).

However for the image datasource I didn't reproduced, is it related to #331 (could you check @ps-beilers ) ?
If yes, we're waiting for a PR to update the goca dependency which fix some default behavior.
If not, I'll need to test in depth.

[2022-11-16 12:31] treywelsh commented on #192
If I understand right the documentation, from provider point of view it's only about enabling a `IPAM_MAD` in the vnet address ranges.

However the attribute is not documented in https://github.com/OpenNebula/one/blob/master/share/doc/xsd/vnet.xsd and then Goca doesn't know this attribute.
I opnened a PR to fix this: https://github.com/OpenNebula/one/pull/6020

We'll then need to update the provid

[2022-11-18 09:48] #359 closed, assigned to nobody

[2022-11-23 15:48] #300 closed, assigned to nobody

[2022-11-25 08:16] ps-beilers commented on #370
Hi @treywelsh

Most likely it is related to #331, yes. Looking forward to the fix from #371 making it into the next tag.

Regards,
Bernd

[2022-11-25 09:31] #370 closed, assigned to nobody

[2022-11-25 09:31] #331 closed, assigned to onenhansen

[2022-11-28 17:53] #299 closed, assigned to nobody

[2022-11-29 09:53] #355 closed, assigned to nobody

[2022-11-29 13:28] frousselet opened #372 "`opennebula_datastore`: Cannot update resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-29 13:32] frousselet opened #373 "`opennebula_datastore`: Cannot destroy/update resource if doesn't actually exist"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-29 15:03] frousselet opened #374 "`opennebula_host`: Overcommit attribute doesn't applies as expected"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-30 12:48] #372 closed, assigned to nobody

[2022-11-30 12:48] #373 closed, assigned to nobody

[2022-11-30 12:48] #374 closed, assigned to nobody